{% include 'header.html' %}
<h2>Purge Object</h2>

<p>This utility purges objects from Fedora.  Please note, objects without the state "Deleted (D)" will be automatically skipped.  Additionally, an archive of the objects can be performed upon purge (in-progress).</p>

<p style="color:red;">Note: This action is permanent and cannot be undone.  Two users will be required to enter their user pin to continue.</p>

<form action="/tasks/purgeObject/confirm" method="POST">	
	<label>Two users with administrative roles enter <a href="/userPin">user pin</a></label><br>
	Admin 1 Username: <input name="an1" id="an1" size=40/> Admin 1 Pin: <input name="ap1" id="ap1" size=100/><br>
	Admin 2 Username: <input name="an2" id="an2" size=40/> Admin 2 Pin: <input name="ap2" id="ap2" size=100/><br>
	<input type="submit" value="Make it so!"/>
</form>