{% include 'header.html' %}
<h1>Purge Datastream</h1>

<p>You may also browse other PIDs in the set:<br>
	<a href='/ouroboros/tasks/purgeDS?PIDnum={{(PIDnum - 1)}}'>previous</a> / <a href='/ouroboros/tasks/purgeDS?PIDnum={{(PIDnum + 1)}}'>next</a></p>
<p>

<p>Current PID: {{PID}}<p>
	<form class="form-horizontal" id="form" role="form" method="POST" action="/ouroboros/fireTask/obj_loop/purgeDS_worker" enctype="multipart/form-data">
	<div class="col-md-3">
		<div class="form-group">
		{{ form.csrf_token }} 
		<label class="control-label">Select Datastream you wish to purge</label>
		<select class="form-control input-sm" id="dsID" name="dsID">
	    <option value=""></option>
	    {% for dsID in dsIDs %}
	        <option value="{{dsID}}">{{dsID}}</option>
	    {% endfor %}
		</select>
		</div>
		<i data-toggle="tooltip" title = "The (inclusive) start date-time stamp of the range. If null, this is taken to be the lowest possible value, and thus, the entire version history up to the endDT be purged."></i>
		<div class="form-group">
		<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title = "The (inclusive) start date-time stamp of the range. If null, this is taken to be the lowest possible value, and thus, the entire version history up to the endDT be purged."></span>{{ form.startDT.label(class="control-label") }} {{ form.startDT(class="form-control input-sm", **{'placeholder':'(optional) 2014-07-29T18:09:09.447Z'}) }}
		</div>
		<div class="form-group">
		<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title = "The (inclusive) ending date-time stamp of the range. If null, this is taken to be the greatest possible value, and thus, the entire version history back to the startDT will be purged."></span>{{ form.endDT.label(class="control-label") }} {{ form.endDT(class="form-control input-sm", **{'placeholder':'(optional) 2014-08-01T19:08:14.303Z'}) }}
		</div>
		<div class="form-group">
		{{ form.logMessage.label(class="control-label") }} {{ form.logMessage(class="form-control input-sm", **{'placeholder':'(optional)'}) }}
		</div>
		<div class="form-group">
		<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title = "Force the update even if it would break a data contract."></span>{{  form.force.label(class="control-label") }} {{ form.force(class="form-control input-sm", **{'placeholder':'(optional) true or false'}) }}
		</div>
		<input type="submit" class="btn btn-primary" value="Go">
	</div>
</form>

