{% include 'header.html' %}

<style type="text/css">
	.hidden_section{
		display:none;
	}
</style>

<div class="row">
	<div class="col-md-6">
		<h2><img src="{{ url_for('static',filename='img/lb.png')}}" height=60 /> Learning Object - Create Document</h2>
		<h3>Currently working on: <a target="_blank" href="//{{APP_HOST}}/item/{{obj.ohandle.pid}}">{{obj.ohandle.label}}</a></h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" id="form" role="form" method="POST" action="/{{APP_PREFIX}}/tasks/learningObj/container/{{obj.pid}}/create/document/worker" enctype="multipart/form-data">
			<div class="col-md-6">				

				<!-- Title -->
				<div class="form-group">
					<label class="control-label">Title:</label>
					<p>This title refers to the file you are adding to this learning object.  Short and sweet.</p>
					<input class="form-control" type="text" name="label" placeholder="e.g. Lesson Plan PDF">
				</div>

				<!-- Label -->
				<div class="form-group">
					<label class="control-label">Filename:</label>
					<p>Filename that will be used in the future for downloading this file.  <strong>Please note:</strong> the filename suffix (e.g. .pdf, .docx) will determine how this file is ingested and derivatives made.</p>
					<input class="form-control" type="text" name="filename" placeholder="e.g. lesson_plan.pdf">
				</div>

				<!-- Description -->
				<div class="form-group">
					<label class="control-label">Description / Abstract:</label>
					<p>Description of file that will become part of the parent Learning Object.</p>
					<textarea class="form-control" rows=5 name="description" placeholder="e.g. Lesson plan in PDF format."></textarea>
				</div>

				<!-- Creator -->
				<div class="form-group">
					<label class="control-label">Creator / Author:</label>
					<p>Creator of this learning object.</p>
					<input class="form-control" type="text" name="creator" placeholder="e.g. Jane Doe">
				</div>

				<!-- Subjects -->
				<div class="form-group">
					<label class="control-label">Subjects:</label>
					<p>Include multiple Library of Congress subject headings (LCSH) here, seperated by commas</p>
					<textarea class="form-control" rows=3 name="subjects" placeholder="e.g. Outerwear, Clothing and dress--History, Cloaks"></textarea>
				</div>

				<!-- Rights -->
				<div class="form-group">
					<label class="control-label">Rights Statement:</label>
					<p>Select a rights statement from the dropdown below.</p>
					<select class="form-control input-sm" name="rights">
						<option value='Creative Commons License - By Attribution, Non-Commercial (CC BY-NC) - https://creativecommons.org/licenses/by-nc/4.0/'>Creative Commons License - By Attribution, Non-Commercial (CC BY-NC)</option>
						<option value='Creative Commons License - Public Domain (CC0) - https://creativecommons.org/publicdomain/zero/1.0/'>Creative Commons License - Public Domain (CC 0)</option>
					</select>
				</div>

				<!-- Date -->
				<div class="form-group">
					<label class="control-label">Date:</label>
					<p>Meaningful date for this learning object, either when it was created or used.  Format should be <em>YYYY-MM-DD</em>.</p>
					<input class="form-control" type="text" name="date" placeholder="e.g. 2016-05-02">
				</div>

				<!-- Content Model -->
				<div class="form-group">
					<label class="control-label" for="dest_repo">Content Type:</label> 
					<select class="form-control input-sm" id="dest_repo" name="CM">
						{% for CM in CMs %}
							{% if CM in ['Image','Document'] %}
								<option value="{{CM}}">{{CM}}</option>
							{% endif %}
						{% endfor %}
					</select> 
				</div>

				<!-- File Section -->
				<div class="form-group">
				{{ form.dataType.label(class="control-label") }} {{ form.dataType(class="form-control dataType input-sm") }} 
				</div>
				<div class="form-group dataTypes" id="dsLocation" style="display:none;">
					{{ form.dsLocation.label(class="control-label") }} {{ form.dsLocation(class="form-control input-sm") }}
				</div>				
				<div class="form-group dataTypes" id="upload" style="display:none;">
					{{ form.upload.label(class="control-label") }} {{ form.upload }}
				</div>	

				<!-- HIDDEN SECTIONS -->

				<div class="form-group hidden_section">
					<div class="checkbox">
						<label>
							<input name="bagify" type="checkbox"> Bagify bag after creation?
						</label>
					</div>
				</div>

				<div class="form-group hidden_section">
					<div class="checkbox">
						<label>
							<input name="ingest" type="checkbox"> Ingest and delete bag after creation?
						</label>
					</div>
				</div>

				<div class="form-group purge">
					<div class="checkbox">
						<label>
							<input name="purge" type="checkbox"> Purge Learning Object if already exists?
						</label>
					</div>
				</div>

				<div class="form-group">					
					<input type="submit" class="btn btn-success" value="Next">
				</div>

			</div>

		</form>
	</div>
</div>

{% include 'footer.html' %}