setuptools
Flask==0.10.1
Flask-Cache==0.13.1
Flask-Login==0.2.11
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.5
Paste==1.7.5.1
Pillow==2.9.0
SQLAlchemy==0.9.4
Twisted==11.1.0
WTForms==1.0.5
amqp==1.4.5
argparse==1.2.1
bagit==1.5.1
beautifulsoup4==4.2.1
celery==3.1.11
coverage==3.7.1
decorator==3.3.2
fuzzywuzzy==0.2
ipython
lockfile==0.10.2
mysolr==0.8.2
ply
pydub==0.9.5
python-ldap==2.4.13
rdflib
redis==2.10.1
requests==2.8.1
responses==0.3.0
simplejson==2.3.2
sqlalchemy-datatables
stompest==2.1.2
stompest.async==2.1.2
xmltodict==0.7.0
