{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">

		<h1><a href="/{{APP_PREFIX}}/tasks/ingestWorkspace">WSUDOR Ingest Workspace</a>: Create Job</h1>

		<p>Using the form below, create a job associated with a METS file for ingest.</p>	

	</div>

	<div class="col-md-4">		

		<form class="form" id="form" role="form" method="POST" action="/{{APP_PREFIX}}/fireTask/custom_loop/createJob_factory" enctype="multipart/form-data">

			<!-- collection name -->
			<div class="form-group">
				<label class="control-label">Ingest Job Name (human readable name for job):</label>
				<input class="form-control" type="text" name="collection_identifier" placeholder="e.g. CFAI, DSJ, DennisCooper">
			</div>

			<!-- METS -->	
			<div class="well">		
				<h4>Ingest Metadata (METS)</h4>
				<p>Upload a METS file below:</p>
				<!-- <div class="form-group">
					<textarea class="form-control input-sm" id="pasted_metadata" name="pasted_metadata" rows=10 placeholder="XML goes here"></textarea>
				</div> -->

				<div class="form-group" id="upload">
					<input id="upload" name="upload" type="file"></input>
				</div>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-success" value="Create">
			</div>
		</form>

	</div>
</div>



{% include 'footer.html' %}