{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">

		<h1><a href="/{{APP_PREFIX}}/tasks/ingestWorkspace">WSUDOR Ingest Workspace</a>: Create Job</h1>

		<p>Using the form below, create a job associated with a METS file for ingest.</p>	

	</div>

	<div class="col-md-6">		

		<form class="form well" id="form" role="form" method="POST" action="/{{APP_PREFIX}}/fireTask/custom_loop/createJob_factory" enctype="multipart/form-data">

			<!-- collection name -->
			<div class="form-group">
				<label class="control-label">Ingest Job Name (human readable name for job):</label>
				<input class="form-control" type="text" name="collection_name" placeholder="e.g. DSJ_full_ingest, DD_1, Swanger_addition, my_awesome_job">
			</div>

			<div class="form-group">
				<label class="control-label">Collection PID (optional):
					<p style='font-weight:normal;'>If a collection level object is not found in the METS file (specifically, a DMD section), provide a collection PID here for objects to become a member of.  Note: this will be skipped if a collection object exists in the METS.</p>
					<p style='font-weight:normal;'>If neither a collection object exists in the METS, or a collection PID provided here, objects will become members of a generic collection.</p>
				</label>
				<input class="form-control" type="text" name="collection_identifier" placeholder="e.g. wayne:collectionDSJ, wayne:collectionNightingale">
			</div>

			<!-- METS -->	
			
			<div class="form-group" id="upload">
				<label class="control-label">Provide METS file:</label>
				<input id="upload" name="upload" type="file"></input><br>
				<p>Or provide path to METS on filesystem</p>
				<input class="form-control" type="text" id="upload_path" name="upload_path"></input>
			</div>

			<div class="form-group" id="METS_type">
				<div class="radio">
				  <label>
				    <input type="radio" name="METS_type" value="wsu" checked>
				    WSU METS
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="METS_type" value="archivematica">
				    Archivematica METS
				  </label>
				</div>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-success" value="Create">
			</div>
		</form>

	</div>
</div>



{% include 'footer.html' %}