{% include 'header.html' %}

<!-- metadata -->
<div class="row">
	<div class="col-md-12">
		<h1><a href="/{{APP_PREFIX}}/tasks/ingestWorkspace">WSUDOR Ingest Workspace</a> : Job "{{j.name}}"</h1>
		<div class="col-md-4">
			<h4><strong>Information</strong></h4>
			<ul>
				<li><strong>Name:</strong> {{j.name}}</li>
				<li><strong>Collection Identifier:</strong> {{j.collection_identifier}}</li>
				<li><strong>Job ID:</strong> {{j.id}}</li>
				<li><strong>Created:</strong> {{j.created}}</li>
				<li><strong>Object Count:</strong> {{ j.objects.all()|length }}</li>
			</ul>
			<h4><strong>Actions</strong></h4>
			<ul>
				<li style="margin-bottom:5px;"><a href="/{{APP_PREFIX}}/tasks/ingestWorkspace/job/{{j.id}}/viewMETS"><button class="btn btn-sm btn-success details">View METS</button></a></li>
				<!-- <li style="margin-bottom:5px;"></li> -->
			</ul>
		</div>
		<div class="col-md-8">
			<h4><strong>Filter Rows</strong></h4>
			<p>Note: these filters remove rows from view only, they will still be acted upon if included in ranges below.</p>
			<form class="form" id="form" role="form" method="GET" action="/{{APP_PREFIX}}/tasks/ingestWorkspace/job/{{j.id}}" enctype="multipart/form-data">
				<div class="col-md-7">
					<div class="form-group">
						<label class="control-label">Row Range:</label>					
						<input class="form-control" type="text" name="row_range" placeholder="Range of rows to include. e.g. 42-244 (#-#, no spaces)"></input>
					</div>
					<div class="form-group">
						<label class="control-label">Ingest Location:</label>					
						<input class="form-control" type="text" name="ingested" placeholder="String of  remote repositories (e.g. 'local' or 'new_prod'), or 'None' for not ingested "></input>
					</div>
				</div>
				<div class="col-md-5">	
					<div class="form-group">
						<div class="radio">
							<label>
								<input name="bag_path" type="radio" value="True"> See rows <em>with</em> bags
							</label>
						</div>
						<div class="radio">
							<label>
								<input name="bag_path" type="radio" value="False"> See rows <em>without</em> bags
							</label>
						</div>
					</div>			
					<div class="form-group">
						<input type="submit" class="btn btn-success" value="Filter">
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-4">
					
		</div>
	</div>
</div>

<div style="margin-top:30px;"></div>

<!-- job objects -->
<div class="row">
	<div class="col-md-12">

		<!-- insert table here -->
		<table id="object_table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>            
                    <th>ingest_id</th>
                    <th>object_title</th>
                    <th>pid</th>
                    <th>object_type</th>
                    <th>DMDID</th>
                    <th>struct_map</th>
                    <th>MODS</th>
                    <th>bag_path</th>
                    <th>bag_validation_dict</th>                    
                    <th>objMeta</th>
                    <th>ingested</th>
                    <th>Details</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>
</div>

<div style="margin-top:30px;"></div>

<div class="row">

	<!-- make bags -->
	<div class="col-md-6">
		<!-- make bags -->
		<div class="well">
			<h4>Make Bags</h4>	

			<p>Using a particular bag creation class, here you can create bags that will be stored on disk for ingest at a later time.  When bags are created, they will leverage symlinks to the binary files, keeping them small.  As such, they will also be compressed as a tarball and inserted in MySQL as a tarball binary.</p>
			<p>These bags will be created under <code>/tmp/Ouroboros/ingest_job/[INGEST_JOB_NAME]</code> on disk.  This path will be stored in MySQL to be used for ingest.</p>
			
			<form class="form" id="form" role="form" method="POST" action="/{{APP_PREFIX}}/fireTask/custom_loop/createBag_factory" enctype="multipart/form-data">
				<div class="form-group">
					<label class="control-label" for="bag_creation_class">Bag Ingest Class:</label> 
					<select class="form-control input-sm" id="bag_creation_class" name="bag_creation_class">
						{% for bag_class in ouroboros_assets.bag_classes.__all__ %}
							<option value="{{bag_class}}">{{bag_class}}</option>
						{% endfor %}
					</select> 
				</div>				
				<div class="form-group">
					<label class="control-label">Path of Binaries:</label>
					<p>If value entered for this field, job will create an index of the files, and store this in the DB.  If left blank, it will skip this step and used what was previously stored.</p>
					<input class="form-control" type="text" name="files_location" placeholder="e.g. /mnt/foobar_computer/digital_collections/collection"></input>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input name="binary_index" type="checkbox"> Index file location? (<span style="color:red;">Warning:</span> Though it can speed up large collections where exact location of file is unknown, it can be very slow if the file location is large.)
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Object ID's to create bags:</label>
					<input class="form-control" type="text" name="object_id_range" placeholder="e.g. 1-100,150-200 (think printing pages)"></input>
				</div>				
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input name="purge_bags" type="checkbox"> Purge bags if already created?
						</label>
					</div>
				</div>
				<div class="form-group">
					<input class="form-control" type="hidden" name="job_id" value="{{j.id}}"></input>
					<input class="form-control" type="hidden" name="job_name" value="{{j.name}}"></input>
					<input type="submit" class="btn btn-success" value="Make Bags">
				</div>
			</form>
		</div>

	</div>

	<!-- ingest bags -->
	<div class="col-md-6">
		<div class="well">
			<h4>Ingest Bags</h4>	
			<p>Using the form below, ingest select rows to a repository of your choice.</p>
			
			<form class="form" id="form" role="form" method="POST" action="/{{APP_PREFIX}}/fireTask/custom_loop/ingestBag_factory" enctype="multipart/form-data">
				<div class="form-group">
					<label class="control-label">Object ID's to ingest:</label>
					<input class="form-control" type="text" name="object_id_range" placeholder="e.g. 1-100,150-200 (think printing pages)"></input>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input name="overwrite" type="checkbox"> Purge if already exists?
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input name="push_remote" type="checkbox" onclick="$('.push_remote').fadeToggle();"> Push to remote repository?
						</label>
					</div>
				</div>
				<div style="display:none;" class="push_remote">
					<div class="form-group">
						<label class="control-label" for="dest_repo">Destination Repository:</label> 
						<select class="form-control input-sm" id="dest_repo" name="dest_repo">
							<option value="local">local</option>
							{% for repo in localConfig.REMOTE_REPOSITORIES %}
								<option value="{{repo}}">{{repo}}</option>
							{% endfor %}
						</select> 
					</div>		
					<div class="form-group">
						<label class="control-label" for="export_context">Export Context:</label> 
						<select class="form-control input-sm" id="export_context" name="export_context">
							<option value="archive">archive</option>
							<option value="migrate">migrate</option>
						</select> 
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input name="omit_checksums" type="checkbox"> Omit checksums on send (can be helpful if objects contain Redirect (R) or External (E) datastreams)?
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input name="overwrite" type="checkbox"> Purge and recreate in destination repository if already present?
							</label>
						</div>
					</div>			
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input name="refresh_remote" type="checkbox"> Refresh / Index object in remote repository?
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input class="form-control" type="hidden" name="job_id" value="{{j.id}}"></input>
					<input class="form-control" type="hidden" name="job_name" value="{{j.name}}"></input>
					<input class="form-control" type="hidden" name="origin" value="ingestWorkspace"></input>
					<input type="submit" class="btn btn-success" value="Ingest Bags">
				</div>
			</form>
			
		</div>

	</div>

	<!-- check bag and ingest status -->
	<div class="col-md-6">
		<div class="well">
			<h4>(Re)Check Object Statuses</h4>	
			<p>Here you can recheck the status of bags and/or the ingest status of objects in repositories.</p>
			
			<form class="form" id="form" role="form" method="POST" action="/{{APP_PREFIX}}/fireTask/custom_loop/checkObjectStatus_factory" enctype="multipart/form-data">
				
				<div class="form-group">
					<label class="control-label">Object ID's to (re)check statuses:</label>
					<input class="form-control" type="text" name="object_id_range" placeholder="e.g. 1-100,150-200 (think printing pages)"></input>
				</div>

				<div class="form-group">
					<div class="checkbox">
						<label>
							<input name="check_bag_path" type="checkbox"> Check bag path?
						</label>
					</div>
				</div>

				<div class="form-group">
					<div class="checkbox">
						<label>
							<input name="check_repo" type="checkbox" onclick="$('.check_remote').fadeToggle();"> Check object status in repository?
						</label>
					</div>
				</div>

				<div style="display:none;" class="check_remote">
					<div class="form-group">
						<label class="control-label" for="dest_repo">Target Repository:</label> 
						<select class="form-control input-sm" id="dest_repo" name="dest_repo">
							<option value="local">local</option>
							{% for repo in localConfig.REMOTE_REPOSITORIES %}
								<option value="{{repo}}">{{repo}}</option>
							{% endfor %}
						</select> 
					</div>
				</div>
				
				<div class="form-group">
					<input class="form-control" type="hidden" name="job_id" value="{{j.id}}"></input>
					<input class="form-control" type="hidden" name="job_name" value="{{j.name}}"></input>
					<input type="submit" class="btn btn-success" value="Ingest Bags">
				</div>
			</form>
			
		</div>

	</div>
</div>



<!-- JS -->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){

	  var table = $('#object_table').DataTable({
	    "processing": true,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/tasks/ingestWorkspace/job/{{j.id}}.json",
	    columnDefs: [ 
	    	{
    			"targets": -1,
        		"data": null,
            	"defaultContent": "<button class='btn btn-sm btn-warning details'>Details</button>"
        	}        	
    	]
	  });

	  $('#object_table tbody').on( 'click', 'button', function () {
			var data = table.row( $(this).parents('tr') ).data();
			console.log(data);						
			window.open(
				'/{{APP_PREFIX}}/tasks/ingestWorkspace/objectDetails/{{j.id}}/'+data[0],
				'_blank'
			);
		});
		
	});
</script>


{% include 'footer.html' %}
























