{% include 'header.html' %}


<div class="row">

	<!-- metadata -->
	<div class="col-md-12">

		<h1><a href="/tasks/ingestWorkspace">WSUDOR Ingest Workspace</a>: Job </h1>
		
		<h4>Job Information:</h4>
		<p>
			<ul>
				<li><strong>Name:</strong> {{j.name}}</li>
				<li><strong>Job ID:</strong> {{j.id}}</li>
				<li><strong>Created:</strong> {{j.created}}</li>
				<li><strong>Object Count:</strong> {{ j.objects.all()|length }}</li>
			</ul>
		</p>

	</div>

	<!-- job objects -->
	<div class="col-md-8">

		<!-- insert table here -->
		<table id="object_table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>object_title</th>
                    <th>DMDID</th>
                    <th>ingested</th>
                    <th>repository</th>
                </tr>
            </thead>            
        </table>

	</div>


</div>

<!-- JS -->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
	  var table = $('#object_table').DataTable({
	    "processing": true,
	    "serverSide": true,
	    "ajax": "http://192.168.42.4:5004/tasks/ingestWorkspace/job/{{j.id}}.json"
	  });
	});
</script>


{% include 'footer.html' %}
























