{% include 'header.html' %}

<h1>MODS editing - Regex</h1>

<p><span style="color:red;">UNDER DEVELOPMENT</span> - This utility allows you to edit MODS datastreams in bulk.</p>
{% if len_PIDs > 1 %}
	<p>As there are more than 1 PIDs in the currently selected set, you may browse MODS for other PIDS:<br>	
		{% if PIDnum > 0 %}<a href='/tasks/editDSRegex?PIDnum={{(PIDnum - 1)}}'>previous</a>{% endif %} / {% if PIDnum < (len_PIDs - 1) %}<a href='/tasks/editDSRegex?PIDnum={{(PIDnum + 1)}}'>next</a>{% endif %}</p>	
	<p>
{% endif %}

<!-- <form action="/fireTask/editDSRegex_edit_worker" method="POST" >
	
	<h3>Raw RDF / RELS-EXT XML</h3>
	<textarea name="raw_xml" cols="100" rows="20">{{raw_xml}}</textarea><br>	
	<button type="submit">go!</button>
</form> -->

<form action="/tasks/editDSRegex/regexConfirm" method="POST" >
	
	<h3>MODS Regex Editing</h3>
	<textarea name="raw_xml" cols="100" rows="20">{{raw_xml}}</textarea><br>
	{{ form.regex_search.label }} {{ form.regex_search(size=150) }}<br>
	{{ form.regex_replace.label }} {{ form.regex_replace(size=150) }}<br>
	
	<button type="submit">go!</button>
</form>

