{% include 'header.html' %}
<h1>Batch Ingest</h1>

<h2>a) Add XSL Transformation to DB</h2>
<form method="POST" action="/tasks/batchIngest/addXSLTrans" enctype="multipart/form-data">	
	{{ form.name.label }} {{ form.name(size=60) }}<br>
	{{ form.description.label }} {{ form.description(size=60) }}<br>
	<label>Paste XSL content here:</label><br>
	<textarea name="content" cols="80" rows="20" placeholder="Paste MODS here"></textarea><br>	
	{{ form.upload.label }} {{ form.upload }}<br>	
	<input type="submit" value="Go">
</form>

<h2>b) Edit XSL Transformation</h2>
<form method="POST" action="/tasks/batchIngest/editXSLTrans/retrieve" enctype="multipart/form-data">		
	<p>Select XSL Transformation (or apprpriate one not available, upload above):</p>
	<select id="xsl_trans" name="xsl_trans">
        <option>Select an XSL transformation...</option>
        {% for id,name,description in xsl_transformations_list %}
            <option value="{{id}}">{{name}}</option>
        {% endfor %}
    </select>  
	<input type="submit" value="Go">
</form>

<h2>c) Batch Ingest from MODS</h2>
<form method="POST" action="/tasks/batchIngest/previewIngest" enctype="multipart/form-data">	
	<p style="color:green;">Step 1: Provide MODS collection &lt;mods:collection&gt;</p>	
	<label>Paste MODS file here:</label><br>
	<textarea name="content" cols="80" rows="20" placeholder="Paste XSL here"></textarea><br>	
	{{ form.upload.label }} {{ form.upload }}<br>	
	<p style="color:green;">Step 2: Select XSL Transformation (or apprpriate one not available, upload above):</p>
	<select id="xsl_trans" name="xsl_trans">
        <option>Select an XSL transformation...</option>
        {% for id,name,description in xsl_transformations_list %}
            <option value="{{id}}">{{name}}</option>
        {% endfor %}
    </select>  
	<input type="submit" value="Preview Ingest">
</form>


