{% include 'header.html' %}
<h1>Edit XSL Transformation</h1>

{% if form_data %}
<p style="color:green;">Changes made.<a href="#" onclick="window.history.back(); return false;"> Go back...</a></p>

{% else %}
<form method="POST" action="/tasks/batchIngest/editXSLTrans/modify" enctype="multipart/form-data">	
	{{ form.name.label }}
	<input name="name" size="60" value="{{xsl_transform.name}}"/><br>
	{{ form.description.label }}
	<input name="description" size="60" value="{{xsl_transform.description}}"/><br><br>	
	<label>Edit XSL content here:</label><br>
	<textarea name="content" cols="200" rows="40">{{xsl_transform.xsl_content}}</textarea><br>
	{{ form.upload.label }} {{ form.upload }}<br>		
	<input type="hidden" name="id" value="{{xsl_transform.id}}"/>
	<input type="hidden" name="edited" value="True"/>
	<input type="submit" value="Go">
</form>

{% endif %}