{% include 'header.html' %}

<h2>Content Models</h2>

<p style="color:orange;">In Progress - moving to new WSUDOR_ContentTypes soon...</p>
<p>Below are current Content Models found in Fedora Commons.  These are pulling dynamically from all Content Model objects (CM:*) that isMemberOfCollection of "CM:ModelsCollection".  Proposing blueprint / area for each content type, automatically linked to from this list.</p>

<ul>	
	{% for CM in CM_list %}
	<li><a href="/CM/{{CM.label}}">{{CM.label}}</a></li>
	{% endfor %}
</ul>	


{% include 'footer.html' %}