{% include 'header.html' %}

<div class="row">
  <div class="col-md-6">
    <h1>Create User</h1>
    <p>Though Ouroboros uses ldap to authenticate users, it only allows users that have a pre-existing account in the Ouroboros database.  By default, a few admin accounts are created.  But to open up access to more users, an account must be created for them using the form below.</p>
    <p>The form contains minimal information and questions: when the user logs in for the first time, they Display Name and other credentials will be filled in from their LDAP credentials.  At this point, just their Access ID is needed which is used to connect with their LDAP authentication.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <form class="form-horizontal" id="form" role="form" method="POST" action="/{{APP_PREFIX}}/users/create" enctype="multipart/form-data">
      <div class="col-md-4">        

        <!-- username -->
        <div class="form-group">
          <label class="control-label">Username (Access ID):</label>
          <input class="form-control" type="text" name="username" placeholder="e.g. ab1234">
        </div>       

        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" name="role" value="admin">administrator</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="role" value="metadata">metadata</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="role" value="view">view</label>
          </div>
        </div>

        <div class="form-group">          
          <button class="btn btn-success" type="submit">Create User</button>
        </div>

      </div>
    </form>

  </div>
</div>

{% include 'footer.html' %}