{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">

		<h2>Object Indexing</h2>

		<p>Primary layer for discovery of objects in WSUDOR is Solr.  Objects from Fedora are indexed in Solr, including content-type specific information that is extracted along the way (page text from ebooks, etc.).  The majority of this functionality lives in <code>WSUDOR_Indexer</code>, with methods at the object level for indexing and pruning.  Though Ouroboros listens to Fedora for objects that have been modified, and thus should be indexed, sometimes manual indexing is required.</p>

		<table class="table">
			
			<tr>
				<td><strong>Action</strong></td>
				<td><strong>Description</strong></td>
			</tr>

			<tr>
				<td><a class="btn btn-success btn-xs" href="#" onclick="$.ajax({url:'/{{localConfig.APP_PREFIX}}/indexing/index/selected'}); return false;">Index Selected Objects</a></td>
				<td><strong>Indexes currently selected</strong> objects.</td>
			</tr>

			<tr>
				<td><a class="btn btn-success btn-xs" href="#" onclick="$.ajax({url:'/{{localConfig.APP_PREFIX}}/indexing/index/modified'}); return false;">Index Modified Objects</a></td>
				<td><strong>Indexs all objects modified in Fedora</strong> since last partial or full index.</td>
			</tr>

			<tr>
				<td><form id="index_collection_form" class="form-group" method="POST" action="/{{localConfig.APP_PREFIX}}/indexing/index/index_collection"><select class="form-control input-sm" name="collection">{% for collection in collections %}<option value="{{collection.pid}}">{{collection.title}}</option>{% endfor %}</select><br><a class="btn btn-success btn-xs form-control-inline" onclick="$.post('/{{localConfig.APP_PREFIX}}/indexing/index/index_collection', $('#index_collection_form').serialize()); return false;">Submit</a></form></td>
				<td>Select a particular <strong>collection</strong> to index.</td>
			</tr>

			<tr>
				<td><a class="btn btn-success btn-xs" href="#" onclick="$.ajax({url:'/{{localConfig.APP_PREFIX}}/indexing/index/all'}); return false;">Index All Objects</a></td>
				<td><strong>Indexes all objects in Fedora</strong>, but does not purge old ones.</td>
			</tr>

			<tr>
				<td><a class="btn btn-warning btn-xs" href="#" onclick="$.ajax({url:'/{{localConfig.APP_PREFIX}}/indexing/prune/selected'}); return false;">Prune Selected Objects</a></td>
				<td><strong>Removes currently selcted objects</strong> from index.</td>
			</tr>

			<tr>
				<td><a class="btn btn-danger btn-xs" href="#" onclick="$.ajax({url:'/{{localConfig.APP_PREFIX}}/indexing/prune/reindex'}); return false;">Purge and Reindex</a></td>
				<td><strong>Purges and reindexes</strong> all objects in Solr.  <span style="color:red;">Will remove all live Solr records, run only if necessary or system is down.</span></td>
			</tr>

			<tr>
				<td><a class="btn btn-success btn-xs" href="#" onclick="$.ajax({url:'/{{localConfig.APP_PREFIX}}/indexing/exceptions/all'}); return false;">Re-Run Exceptions</a></td>
				<td><strong>Re-run</strong> all exceptions.</td>
			</tr>

			<tr>
				<td><a class="btn btn-danger btn-xs" href="#" onclick="$.ajax({url:'/{{localConfig.APP_PREFIX}}/indexing/queues/clear'}); return false;">Clear Queues</a></td>
				<td><strong>Clears</strong> all indexing queues: <code>Queued</code>, <code>Working</code>, and <code>Exceptions</code> </td>
			</tr>

		</table>

	</div>
</div>

{% include 'indexer_queues.html' %}

{% include 'footer.html' %}