<div class="row">
	<div class="col-md-12">
		<h2>Indexer Status</h2>
		<p>5 second table auto-refresh: <input type="checkbox" id="toggle-event" checked data-toggle="toggle" data-size="mini" data-onstyle="success"> <a id="manual-refresh" class="btn btn-warning btn-xs" href="#" onclick="return false;">manually refresh</a></p>
	</div>
	<div class="col-md-6">

		<h3>Queued</h3>

		<!-- insert table here -->
		<table id="queued" class="display" cellspacing="0" width="100%" style="font-size:100%;">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>pid</th>
                    <th>username</th>
                    <th>priority</th>
                    <th>action</th>
                    <th>timestamp</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>

	<div class="col-md-6">

		<h3>Working</h3>

		<!-- insert table here -->
		<table id="working" class="display" cellspacing="0" width="100%" style="font-size:100%;">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>pid</th>
                    <th>username</th>
                    <th>priority</th>
                    <th>action</th>
                    <th>timestamp</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>
</div>

<div class="row">
	
	<div class="col-md-6">

		<h3>Exceptions</h3>

		<!-- insert table here -->
		<table id="exception" class="display" cellspacing="0" width="100%" style="font-size:100%;">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>pid</th>
                    <th>username</th>
                    <th>priority</th>
                    <th>action</th>
                    <th>timestamp</th>
                    <th>msg</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>

	<div class="col-md-6">

		<h3>Stats</h3>

		<!-- insert table here -->
		<table id="stats" class="table" cellspacing="0" width="100%" style="font-size:100%;">
            <tbody>
	            <tr>            
	                <td>records queued for indexing</td>
	                <td><span id="tput_qps">analyzing...</span></td>
	            </tr>
	            <tr>            
	                <td>change in working table</td>
	                <td><span id="tput_ips">analyzing...</span></td>
	            </tr>
            </tbody>
        </table>

	</div>

</div>

<!-- JS -->
<script type="text/javascript" charset="utf-8">
	
	$(document).ready(function(){

	  var refresh_rate = 5000;
	  
	  // queued
	  var qtable = $('#queued').DataTable({
	    "processing": false,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/indexing/status/queued.json",
	    "oLanguage": {
	        "sProcessing": "<img src='/themes/third_party/linkedin_search/img/165.gif'>"
	    }
	  });
	  $.fn.dataTable.ext.errMode = 'none';
		$('#queued').on('error.dt', function(e, settings, techNote, message) {
		   console.log( 'An error has been reported by DataTables: ', message);
		})

	  // working
	  var wtable = $('#working').DataTable({
	    "processing": false,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/indexing/status/working.json"
	  });
	  $.fn.dataTable.ext.errMode = 'none';
		$('#working').on('error.dt', function(e, settings, techNote, message) {
		   console.log( 'An error has been reported by DataTables: ', message);
		})

	  // exception
	  var etable = $('#exception').DataTable({
	    "processing": false,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/indexing/status/exception.json"
	  });
	  $.fn.dataTable.ext.errMode = 'none';
		$('#exception').on('error.dt', function(e, settings, techNote, message) {
		   console.log( 'An error has been reported by DataTables: ', message);
		})


	  // ping for throughput
	  function throughputPing() {
	  	  $.ajax({
			  url: "/{{APP_PREFIX}}/indexing/status/throughput.json",
			}).done(function(data) {
			  console.log(data);
			  // ping ouroboros to current rates
			  $("#tput_qps").html(data.qps+" records / sec");
			  $("#tput_ips").html(data.ips+" records / sec");
			});
	  }

	  // refresh timer
	  var refreshIntervalId = null;
	  function setAutoRefresh(){
	  	refreshIntervalId = setInterval( function () {
	    qtable.ajax.reload();
	    wtable.ajax.reload();
	    etable.ajax.reload();
	    // throughputPing();
		  }, refresh_rate );
	  }
	  setAutoRefresh();

	  $(function() {
	    $('#toggle-event').change(function() {
	      var status = $(this).prop('checked')
	      console.log( status );
	      
	      // clear interval
	      if (status == false) {
	      	clearInterval(refreshIntervalId);
	      }

	      // reset interval
	      else {
	      	setAutoRefresh();
	      }

	    })
	  })

	  $(function() {
	    $('#manual-refresh').click(function() {
	    	qtable.ajax.reload();
		    wtable.ajax.reload();
		    etable.ajax.reload();
		    // throughputPing();
      	})
	  });

	  

	});

</script>