<div class="row">
	<div class="col-md-12">
		<h2>Indexer Status</h2>
		<p>5 second table auto-refresh: <input type="checkbox" id="toggle-event" checked data-toggle="toggle" data-size="mini" data-onstyle="success"> <a id="manual-refresh" class="btn btn-warning btn-xs" href="#" onclick="return false;">manually refresh</a></p>
	</div>
	<div class="col-md-6">

		<h3>Queued</h3>

		<!-- insert table here -->
		<table id="queued" class="display" cellspacing="0" width="100%" style="font-size:100%;">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>pid</th>
                    <th>username</th>
                    <th>priority</th>
                    <th>action</th>
                    <th>timestamp</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>

	<div class="col-md-6">

		<h3>Working</h3>

		<!-- insert table here -->
		<table id="working" class="display" cellspacing="0" width="100%" style="font-size:100%;">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>pid</th>
                    <th>username</th>
                    <th>priority</th>
                    <th>action</th>
                    <th>timestamp</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>
</div>

<div class="row">
	
	<div class="col-md-6">

		<h3>Exceptions</h3>

		<!-- insert table here -->
		<table id="exception" class="display" cellspacing="0" width="100%" style="font-size:100%;">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>pid</th>
                    <th>username</th>
                    <th>priority</th>
                    <th>action</th>
                    <th>timestamp</th>
                    <th>msg</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>

	<div class="col-md-6">

		<h3>Stats</h3>

		<!-- insert table here -->
		<table id="stats" class="table" cellspacing="0" width="100%" style="font-size:100%;">
            <tbody>
	            <tr>            
	                <td>records queued for indexing</td>
	                <td><span id="tput_qps">analyzing...</span></td>
	            </tr>
	            <tr>            
	                <td>change in working table</td>
	                <td><span id="tput_wpps">analyzing...</span></td>
	            </tr>
	            <tr>            
	                <td>indexed per second</td>
	                <td><span id="tput_ips">analyzing...</span></td>
	            </tr>
	            <tr>            
	                <td>estimated time remaining</td>
	                <td><span id="tput_est_time_remaining">analyzing...</span></td>
	            </tr>
            </tbody>
        </table>

        <script type="text/javascript" src="{{ url_for('static',filename='smoothie.js')}}"></script>
        <canvas id="mycanvas" width="800" height="300"></canvas>

	</div>

</div>

<!-- JS -->
<script type="text/javascript" charset="utf-8">
	
	$(document).ready(function(){

	  var refresh_rate = 5000;
	  
	  // queued
	  var qtable = $('#queued').DataTable({
	    "processing": false,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/indexing/status/queued.json",
	    "oLanguage": {
	        "sProcessing": "<img src='/themes/third_party/linkedin_search/img/165.gif'>"
	    }
	  });
	  $.fn.dataTable.ext.errMode = 'none';
		$('#queued').on('error.dt', function(e, settings, techNote, message) {
		   console.log( 'An error has been reported by DataTables: ', message);
		})

	  // working
	  var wtable = $('#working').DataTable({
	    "processing": false,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/indexing/status/working.json"
	  });
	  $.fn.dataTable.ext.errMode = 'none';
		$('#working').on('error.dt', function(e, settings, techNote, message) {
		   console.log( 'An error has been reported by DataTables: ', message);
		})

	  // exception
	  var etable = $('#exception').DataTable({
	    "processing": false,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/indexing/status/exception.json"
	  });
	  $.fn.dataTable.ext.errMode = 'none';
		$('#exception').on('error.dt', function(e, settings, techNote, message) {
		   console.log( 'An error has been reported by DataTables: ', message);
		})


	  // ping for throughput
	  function throughputPing() {
		  // ping ouroboros to current rates
	  	  $.ajax({
			  url: "/{{APP_PREFIX}}/indexing/status/throughput.json",
			}).done(function(data) {
			  console.log(data);

			  // add to table
			  $("#tput_qps").html(data.qps+" records / sec");
			  $("#tput_wpps").html(data.wpps+" records / sec");
			  $("#tput_ips").html(data.ips+" records / sec");
			  $("#tput_est_time_remaining").html(data.est_time_remaining);

			  // update graph
			  tput_qps_line.append(new Date().getTime(), data.qps);
			  tput_wpps_line.append(new Date().getTime(), data.wpps);
			  tput_ips_line.append(new Date().getTime(), data.ips);

			});
	  }

	  // refresh timer
	  var refreshIntervalId = null;
	  function setAutoRefresh(){
	  	refreshIntervalId = setInterval( function () {
	    qtable.ajax.reload();
	    wtable.ajax.reload();
	    etable.ajax.reload();
	    throughputPing();
		  }, refresh_rate );
	  }
	  setAutoRefresh();

	  $(function() {
	    $('#toggle-event').change(function() {
	      var status = $(this).prop('checked')
	      console.log( status );
	      
	      // clear interval
	      if (status == false) {
	      	clearInterval(refreshIntervalId);
	      }

	      // reset interval
	      else {
	      	setAutoRefresh();
	      }

	    })
	  })

	  $(function() {
	    $('#manual-refresh').click(function() {
	    	qtable.ajax.reload();
		    wtable.ajax.reload();
		    etable.ajax.reload();
		    throughputPing();
      	})
	  });

	// fire up streaming graph
	var smoothie = new SmoothieChart({
		'millisPerPixel':50
	});
	smoothie.streamTo(document.getElementById("mycanvas"));

	// Data
	var tput_qps_line = new TimeSeries();
	var tput_wpps_line = new TimeSeries();
	var tput_ips_line = new TimeSeries();

	// Add to SmoothieChart
	smoothie.addTimeSeries(tput_qps_line,{ strokeStyle:'rgb(0, 255, 0)', fillStyle:'rgba(0, 255, 0, 0.4)', lineWidth:2 });
	smoothie.addTimeSeries(tput_wpps_line,{ strokeStyle:'rgb(255, 0, 255)', fillStyle:'rgba(255, 0, 255, 0.3)', lineWidth:2 });
	smoothie.addTimeSeries(tput_ips_line,{ strokeStyle:'rgb(0, 255, 255)', fillStyle:'rgba(0, 255, 255, 0.3)', lineWidth:2 });

	// add delay
	smoothie.streamTo(document.getElementById("mycanvas"), refresh_rate /*delay*/); 

	});

</script>













