{% include 'header.html' %}


<div class="row">
	<div class="col-md-12">
		<h3>Perform task, {{task_name}}, on the following objects?</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table id="PIDtable" class="display" cellspacing="0" width="100%">
		    <thead>
		        <tr>            
		            <th>id</th>
		            <th>PID</th>
		            <th>username</th>    
		            <th>status</th>
		            <th id="group_name_col">group</th>
		            <th>actions</th>                  
		        </tr>
		    </thead>
		    <tfoot>
		        <tr>            
		            <th>id</th>
		            <th>PID</th>
		            <th>username</th>    
		            <th>status</th>
		            <th>group</th>
		            <th>actions</th>                  
		        </tr>
		    </tfoot>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<ul class="list-inline">
			<li><a class="btn btn-success btn-sm"href="/{{APP_PREFIX}}/fireTaskWorker/{{task_name}}/{{task_inputs_key}}">Engage!</a></li>
			<li><a class="btn btn-danger btn-sm"href="/{{APP_PREFIX}}/cancelTask/{{task_inputs_key}}">Nevermind</a></li>
		</ul>
	</div>
</div>


<script type="text/javascript">
	
	// JS for creating tables based on user selectedPIDs

	var table_handle = "";

	function paintTable(username,DT_target){

		table_handle = $('#PIDtable').DataTable( {		
		    "serverSide": true,			    	    
			"ajax": DT_target,		
			"columns": [
				{ 	"searchable": true, 
					"name":"id" 
				},
				{ 	"searchable": true, 
					"name":"PID" 
				},
			    { 	"searchable": true, 
			    	"name":"username",
			    	"visible":false	    	
			    },		    
			    {
			    	"searchable": true,
			    	"name":"status",
			    	"visible":true		    	
			    },
			    { 	"searchable": true, 
			    	"name":"group"		    	    	
			    },
			    {
			    	"name":"actions",
			    	"title":"actions",		    	
			    	"render":function (data,type,row){		    				    		
			    		return "<a href='#' onclick='del_row("+row[0]+"); return false;'>remove</a>";
			    	},
			    	"visible":false    	
			    }	    
			  ],
			searchCols: [
		        null,
		        null,
		        { sSearch: username },	        
		        { sSearch: 1 }, // 1 represents "True" in MySQL, i.e. Selected	        
		        null,
		        null
		    ],	    
			"rowCallback": function( row, data, displayIndex ) {
	            if ( data[3] == 1 ) {            	
	                $(row).addClass('selected');
	            }
	        },
	        start:1
		} );
		

		// row select toggle
		$('#PIDtable tbody').on('click', 'tr', function () {
		    var id = $(this).children()[0].innerHTML;	    
			$.ajax({
				url: "/{{APP_PREFIX}}/PIDRowUpdate/"+id+"/update_status/toggle",			
				}).done(function() {
				$(this).toggleClass('selected');
				table_handle.draw( false ); // false parameter keeps current page
			});
		} );

	}

	function PIDmanageAction(action){


		if (action == "group_toggle"){		
			data = {"group_name":$("#group_name").val()}
			console.log(data);
			$.ajax({
				url: "/{{APP_PREFIX}}/PIDmanageAction/"+action,		
				type:"POST",
				data:data			
				})
			.done(function(response) {
				console.log(response);		
				table_handle.draw( false );			
			});
		}
		
		else {
			$.ajax({
				url: "/{{APP_PREFIX}}/PIDmanageAction/"+action,					
				})
			.done(function(response) {
				console.log(response);		
				table_handle.draw( false );			
			});
		}
		
		
	}

	// delete row
	function del_row(id){	
		$.ajax({
			url: "/{{APP_PREFIX}}/PIDRowUpdate/"+id+"/delete/delete",			
			}).done(function() {
				$(this).toggleClass('selected');
				table_handle.draw();			
			});
	}	

	// filter by gruop
	function filterGroup(){
		table_handle.column(4).search($("#group_filter").val()).draw(false);
	}




    $(document).ready(function(){
        paintTable("{{username}}","{{localConfig.DATATABLES_HANDLE}}");
    });    
</script>
{% include 'footer.html' %}