{% include 'header.html' %}

<h2>Object Management</h2>

<p>The utilities below are designed to help with the creation, management, and deletion of Fedora objects in bulk.</p>

<ul>	
	<li><a href="/{{APP_PREFIX}}/objPreview/0">Object-at-a-Glance</a></li>			
	<li><a href="/{{APP_PREFIX}}/tasks/objectState">Change Object State</a></li>
	<li><a href="/{{APP_PREFIX}}/tasks/createObjectIndex">Generate / Update Object Collection(s) Index</a></li>
	<li><a href="/{{APP_PREFIX}}/tasks/exportObject">Export Object as BagIt archive</a></li>
	<li><a href="/{{APP_PREFIX}}/tasks/sendObject">Send Object to Remote Repository</a></li>
	<li><a href="/{{APP_PREFIX}}/tasks/purgeObject">Purge Objects</a></li>
	<li><a href="/{{APP_PREFIX}}/tasks/iiifManifest">IIIF Manifest Management</a></li>
	<li><a href="/{{APP_PREFIX}}/tasks/checkJP2">Check JP2 Integrity</a></li>
</ul>	


{% include 'footer.html' %}