{% include 'header.html' %}

<h2>Object Management</h2>

<p>The utilities below are designed to help with the creation, management, and deletion of Fedora objects in bulk.</p>

<ul>	
	<li><a href="/objPreview/0">Object-at-a-Glance</a></li>			
	<li><a href="/tasks/objectState">Change Object State</a></li>
	<li><a href="/tasks/createObjectIndex">Generate / Update Object Collection(s) Index</a></li>
	<li><a href="/tasks/exportObject">Export Object as BagIt archive</a></li>
	<li><a href="/tasks/purgeObject">Purge Objects</a></li>
	<li><a href="/tasks/iiifManifest">IIIF Manifest Management</a></li>
</ul>	


{% include 'footer.html' %}