{% include 'header.html' %}
<!-- Imports -->
<script type="text/javascript" src="{{ url_for('static',filename='chartjs/Chart.js')}}"></script>



<div class="row">
		<div class="col-md-12">		
			{% include "PIDiterator.html" %}
		</div>
	</div>

<div class="row">
	<div class="col-md-12">
		<h2>Object-at-a-Glace</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h3>Metadata</h3>
		<table id="solr_table" style="font-size:90%;" class="table">
			{% set displayed_fields = ['dc_title','dc_description'] %}
			{% for field in object_package.solr_package %}
			{% if field in displayed_fields %}
			<tr>
				<td><strong>{{field}}:</strong></td>
				<td>{{object_package.solr_package[field][0]}}</td>
			</tr>
			{% endif %}
			{% endfor %}			
			<tr>
				<td><strong>thumbnail:</strong></td>
				<td><a target="_blank" href="http://digital.library.wayne.edu/digitalcollections/item?id={{PIDlet.cPID}}"><img class="img-rounded" src="http://digital.library.wayne.edu/fedora/objects/{{PIDlet.cPID}}/datastreams/THUMBNAIL/content"/></a></td>
			</tr>
		</table>

	</div>	
</div>

<div class="row">
	<div class="col-md-6">
		<h3><a href="/datastreamManagement">Datastreams</a></h3>

		<div id="size">			
			<canvas id="size_chart" width="400" height="400"></canvas>
			<script type="text/javascript">
				// console.log( JSON.parse('{{ object_package.size_chart_data|safe }}') );
				// Get context with jQuery - using jQuery's .get() method.
				var ctx = $("#size_chart").get(0).getContext("2d");

				// data (preformed)
				// var data = JSON.parse('{{ object_package.size_chart_data|safe }}');

				// prepare data
				var raw_data = JSON.parse('{{ object_package.size_dict_json|safe }}');
				// console.log(raw_data);				

				// loop through
				data = [];
				for (var key in raw_data) {
				  if ( raw_data.hasOwnProperty(key) && key != "total_size" ) {
				    var temp_obj = {
				    	"label":key,
				    	"value":raw_data[key][0],
				    	"color":"green"
				    }
				    data.push(temp_obj);
				  }				  
				}
				console.log("Your data object sir:",data);

				var options = {
				    //Boolean - Whether we should show a stroke on each segment
				    segmentShowStroke : true,
				    //String - The colour of each segment stroke
				    segmentStrokeColor : "#fff",
				    //Number - The width of each segment stroke
				    segmentStrokeWidth : 1,
				    //Number - The percentage of the chart that we cut out of the middle
				    percentageInnerCutout : 50, // This is 0 for Pie charts
				    //Number - Amount of animation steps
				    animationSteps : 50,
				    //String - Animation easing effect
				    animationEasing : "easeOutCirc",
				    //Boolean - Whether we animate the rotation of the Doughnut
				    animateRotate : true,
				    //Boolean - Whether we animate scaling the Doughnut from the centre
				    animateScale : false				    
				}

				// This will get the first returned node in the jQuery collection.				
				var myDoughnutChart = new Chart(ctx).Doughnut(data,options);
			</script>
			<p>Total Object Size: <strong>{{object_package.size_dict.total_size.1}}</strong></p>
		</div>
		

		<table style="font-size:90%;" style="margin:auto;" class="table">
			<tr class="headers">
				<td><strong>ID</strong></td>
				<td><strong>Label</strong></td>
				<td><strong>Mime Type</strong></td>
				<td><strong>Size</strong></td>
				<td><strong>Direct Link</strong></td>				
			</tr>
			{% for ds in object_package.datastream_package %}				
				<tr>						
					<td>{{ds}}</td>
					<td>{{object_package.datastream_package[ds].label}}</td>
					<td>{{object_package.datastream_package[ds].mimeType}}</td>
					<td>{{object_package.size_dict[ds].1}}</td>					
					<td><a target="_blank" href="http://digital.library.wayne.edu/fedora/objects/{{PIDlet.cPID}}/datastreams/{{ds}}/content">Content Link</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
	{% if object_package.components_package %}
	<div class="col-md-6">
		<h3>Components</h3>		
		<table style="font-size:90%;" style="margin:auto;" class="table">
			<tr class="headers">
				<td><strong>PID</strong></td>				
			</tr>
			{% for subject in object_package.components_package %}				
				<tr>						
					<td>{{subject}}</td>				
				</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
</div>

<!-- <div class="row">
	
</div> -->

<div class="row">
	<div class="col-md-12">
		<h3><a href="/tasks/editRELS">RDF Relationships</a></h3>		

		<table style="font-size:90%;" id="rdf_triples_modify" style="margin:auto;" class="table">
			<tr class="headers">
				<td><strong>Predicate</strong></td>
				<td><strong>Object</strong></td>				
			</tr>
			{% for predicate,object in object_package.rdf_package %}				
				<tr>						
					<td class="predicate">{{predicate}}</td>
					<td class="object">{{object}}</td>					
				</tr>
			{% endfor %}
		</table>

	</div>
</div>



<div class="row">
	<div class="col-md-12">
		<h3><a href="/tasks/manageOAIOAI">OAI</a></h3>
		<ul>{% if object_package.OAI_package['ID'] %}			
			<li><strong>OAI Record:</strong> <a target="_blank" href="http://silo.lib.wayne.edu/oaiprovider/?verb=GetRecord&identifier={{object_package.OAI_package['ID']}}&metadataPrefix=mods">link</a></li>
			{% endif %}
			
			<li><strong>Members of OAI Sets</strong>:
				<ul>
					{% for set in object_package.OAI_package['sets'] %}
					<li>{{set}}</li>
					{% endfor %}
				</ul>
			</li>			

		</ul>
	</div>
</div>

<!-- <div class="row">
	<div class="col-md-12">
		<h3>???</h3>
	</div>
</div> -->

{% include 'footer.html' %}