{% include 'header.html' %}
<h2>Find Objects</h2>
<p>This area is used to select objects from WSUDOR and add them to your Workspace, ultimately to be acted upon by WSUDOR_Manager tasks.  After performing queries, select objects from the results either by clicking individual objects, or selecting all.  <strong>Note:</strong> when selecting PIDs, you can identify a "group" that will be searchable and filterable on your <a href="/userWorkspace">User Workspace</a> page.</p>
<p>Also worth noting, this is currently only seaching Solr.  Objects that have not been indexed in Solr (via FOXML2Solr), will not be findable here.  This is slated to change.</p>
<div class="row">
<div class="col-md-6" id="solr_form">
    <h2>Solr Query & Select</h2>
    <form method="POST" action="/PIDSolr">
        <p>------ Native Solr Fields --------</p>
        {{ form.csrf_token }} 
        <table>
            <tr><td>{{ form.q.label }}</td><td> {{ form.q(size=60) }}</td></tr>                
            <tr><td>{{ form.fq.label }}</td> <td>{{ form.fq(size=60) }}</td></tr>
            <tr><td>{{ form.fl.label }}</td> <td>{{ form.fl(size=60) }}</td></tr>
        </table>
        <p>------ Fedora Relationships --------</p>       
        <!-- forms attempt -->
        <table>
            <tr><td>{{ form.collection_object.label }}</td><td>{{ form.collection_object }}</td></tr>
            <tr><td>{{ form.content_model.label }}</td><td>{{ form.content_model }}</td></tr>
        </table>        
        <input type="submit" value="Submit">
    </form>
</div>

<div class="col-md-6" id="actions">
    <h2>Actions</h2>
    <button id="sendSelPIDs">Add Selected</button>
    <button id="sendAllPIDs">Add ALL</button>
    <span> / </span>
    <button id="removeSelPIDs">Remove Selected</button>
    <button id="removeAllPIDs">Remove ALL</button><br><br>
    Group name: <input id="group_name"></input>
    <p id="actions_msg" style="color:green;"></p>
</div>
</div>
<div class="row">
<div class="col-md-12"style="clear:both;">
    <h2>results</h2>

    {% if q_results %}
    <div>
        <table id="PIDtable" class="display" cellspacing="0" width="100%">            
            <thead>
                <tr>
                    <th>PID</th>
                    <th>dc_title</th>            
                </tr>
            </thead>
        </table>
    </div>
    {% endif %}
</div>
</div>
<script type="text/javascript" src="{{ url_for('static',filename='PIDSolr.js')}}"></script>
{% if json_output %}
<script type="text/javascript">
    $(document).ready(function(){                
        paintTable({{json_output|safe}}, "{{APP_HOST}}");
    });    
</script>
{% endif %}

{% include 'footer.html' %}
