{% include 'header.html' %}
<h2>Find Objects</h2>
<p>This area is used to select objects from WSUDOR and add them to your Workspace, ultimately to be acted upon by WSUDOR_Manager tasks.  After performing queries, select objects from the results either by clicking individual objects, or selecting all.  <strong>Note:</strong> when selecting PIDs, you can identify a "group" that will be searchable and filterable on your <a href="/ouroboros/userWorkspace">User Workspace</a> page.</p>
<p>Also worth noting, this is currently only seaching Solr.  Objects that have not been indexed in Solr (via FOXML2Solr), will not be findable here.  This is slated to change.</p>
<div class="row">
<div class="col-md-6" id="solr_form">
    <h2>Solr Query & Select</h2>
    <form method="POST" action="/ouroboros/PIDSolr">
        <p>------ Native Solr Fields --------</p>
        {{ form.csrf_token }} 
        <table>
            <tr><td>{{ form.q.label }}</td><td> {{ form.q(size=60) }}</td></tr>                
            <tr><td>{{ form.fq.label }}</td> <td>{{ form.fq(size=60) }}</td></tr>
            <tr><td>{{ form.fl.label }}</td> <td>{{ form.fl(size=60) }}</td></tr>
        </table>
        <p>------ Fedora Relationships --------</p>       
        <!-- forms attempt -->
        <table>
            <tr><td>{{ form.collection_object.label }}</td><td>{{ form.collection_object }}</td></tr>
            <tr><td>{{ form.content_model.label }}</td><td>{{ form.content_model }}</td></tr>
        </table>        
        <input type="submit" value="Submit">
    </form>
</div>

<div class="col-md-6" id="actions">
    <h2>Actions</h2>
    <button id="sendSelPIDs">Add Selected</button>
    <button id="sendAllPIDs">Add ALL</button>
    <span> / </span>
    <button id="removeSelPIDs">Remove Selected</button>
    <button id="removeAllPIDs">Remove ALL</button><br><br>
    Group name: <input id="group_name"></input>
    <p id="actions_msg" style="color:green;"></p>
</div>
</div>
<div class="row">
<div class="col-md-12"style="clear:both;">
    <h2>results</h2>

    {% if q_results %}
    <div>
        <table id="PIDtable" class="display" cellspacing="0" width="100%">            
            <thead>
                <tr>
                    <th>PID</th>
                    <th>dc_title</th>            
                </tr>
            </thead>
        </table>
    </div>
    {% endif %}
</div>
</div>

{% if json_output %}
<script type="text/javascript">

    // javascript for /PIDSolr data tables

    // table handle
    var table_handle = "";

    // paint table
    function paintTable(json_output, APP_HOST){ 
        table_handle = $('#PIDtable').DataTable({
            "data":json_output,
            "columns": [
                {   "searchable": true, 
                    "name":"PID" 
                },
                {   "searchable": true, 
                    "name":"dc_title",
                    "render":function (data,type,row){                                      
                        return "<a target='_blank' href='http://"+APP_HOST+"/digitalcollections/item?id="+row[0]+"'>"+row[1]+"</a>";
                    } 
                }
              ]
        }); 

        // selects row
        $('#PIDtable tbody').on('click', 'tr', function () {
            var PID = $(this).children()[0].innerHTML;      
            console.log(PID);
            $(this).toggleClass('selected');
        });

        // updates
        $('#sendSelPIDs').click( function () {
            // aggregate selected PIDs in list
            var srows = table_handle.rows('.selected').data();
            var PIDs_list = [];
            for (var i=0; i<srows.length; i++){
                PID = srows[i][0];
                PIDs_list.push(PID);
            }     
            
            // create json to send
            json_package = JSON.stringify(PIDs_list);
            console.log(json_package);

            // send PIDs to SQL for user
            $.ajax({
                url: "/{{APP_PREFIX}}/updatePIDsfromSolr/add",
                type: "POST",
                data: {"json_package":json_package,"group_name":$("#group_name").val()}
            }).done(function(response) {                        
                var date = new Date(Date.now());
                var timestamp = date.getHours()+":"+date.getMinutes()+":"+date.getSeconds()
                $("#actions_msg").append("<span>"+timestamp+" - Selected PIDs sent to user management</span><br>");

            });
        });


        $('#sendAllPIDs').click( function () {
            // select all PIDs
            var srows = table_handle.rows().data();
            var PIDs_list = [];
            for (var i=0; i<srows.length; i++){
                PID = srows[i][0];
                PIDs_list.push(PID);
            }     
            
            // create json to send
            json_package = JSON.stringify(PIDs_list);        

            // send PIDs to SQL for user
            $.ajax({
                url: "/{{APP_PREFIX}}/updatePIDsfromSolr/add",
                type: "POST",
                data: {"json_package":json_package,"group_name":$("#group_name").val()}
            }).done(function(response) { 
                var date = new Date(Date.now());
                var timestamp = date.getHours()+":"+date.getMinutes()+":"+date.getSeconds()
                $("#actions_msg").append("<span>"+timestamp+" - All PIDs sent to user management</span><br>");
            });
        });


        $('#removeSelPIDs').click( function () {
            // aggregate selected PIDs in list
            var srows = table_handle.rows('.selected').data();
            var PIDs_list = [];
            for (var i=0; i<srows.length; i++){
                PID = srows[i][0];
                PIDs_list.push(PID);
            }     
            
            // create json to send
            json_package = JSON.stringify(PIDs_list);

            // send PIDs to SQL for user
            $.ajax({
                url: "/{{APP_PREFIX}}/updatePIDsfromSolr/remove",
                type: "POST",
                data: {"json_package":json_package,"group_name":$("#group_name").val()}
            }).done(function(response) { console.log(response); alert("Selected PIDs removed.") });
        });


        $('#removeAllPIDs').click( function () {
            // select all PIDs
            var srows = table_handle.rows().data();
            var PIDs_list = [];
            for (var i=0; i<srows.length; i++){
                PID = srows[i][0];
                PIDs_list.push(PID);
            }     
            
            // create json to send
            json_package = JSON.stringify(PIDs_list);

            // send PIDs to SQL for user
            $.ajax({
                url: "/{{APP_PREFIX}}/updatePIDsfromSolr/remove",
                type: "POST",
                data: {"json_package":json_package,"group_name":$("#group_name").val()}
            }).always(function(response) { 
                console.log(response);
                alert("All PIDs removed."); 
            });
        });



    } // close paintTable






    $(document).ready(function(){                
        paintTable({{json_output|safe}}, "{{APP_HOST}}");
    });    
</script>
{% endif %}

{% include 'footer.html' %}
