{% include 'header.html' %}
<script>
$(document).ready(function () {

    // add to workspace and remove object button actions
    $(function(APP_HOST)
    {
        $(document).on('click', '.btn', function(e)
        {
            e.preventDefault();
            button = this.id;
            var pid = $(this).closest("div").attr("id");
            if (button == "removeButton") {
                var action="removeObj";
            }
            if (button == "addButton") {
                var action="claimObj";
            }
            console.log(pid);
            $.ajax({
                url: "/{{APP_PREFIX}}/"+action,
                type: "POST",
                data:{"pid":"wayne:"+pid}
            }).done(function(response) { $("#"+pid).fadeToggle("slow", "linear"); location.reload(); });

            });

         return false;
     });
    });
</script>


<div class="col-md-12 panel" style="text-align:center;"><h3>User-Reported Problem Objects</h3></div>

<script>

</script>

<div class="card-deck-wrapper">
  {%for objs in problemObjs | batch(3) %}
<div class="card-deck">
  {% for obj in objs %}
  {% with prefix, pid = obj.PID.split(':') %}
  <!-- Card -->
  <div class="card" id={{pid}}-{{obj.id}}>
    <a target="_blank" href="//{{APP_HOST}}/digitalcollections/item?id={{obj.PID}}"><img class="card-img-top" src="//{{APP_HOST}}/fedora/objects/{{obj.PID}}/datastreams/THUMBNAIL/content" alt="{{obj.PID}}"></a>
    <div class="card-block" id={{pid}}-{{obj.id}}>
      <h4 class="card-title">{{obj.solr_package['dc_title'][0]}}</h4>
      {% if obj.notes is not none %}
            <p class="card-text">name: {{obj.notes['name']}}</p>
            <p class="card-text">email: {{obj.notes['email']}}</p>
            <p class="card-text">message: {{obj.notes['message']}}</p>
        {% else %}
            NONE
        {% endif %}
    <p class="card-text"><small class="text-muted">{{obj.PID}}</small></p>
            <button id="addButton" class="btn btn-success btn-add" type="button">Add to Workspace
            </button>
      <button id="removeButton" class="btn btn-success btn-danger" type="button">Remove
            </button>
    </div>
  </div>
{% endwith %}

{% endfor %}
</div> <!-- ./card-deck -->
{% endfor %}

</div> <!-- ./card-deck-wrapper -->

{% include 'footer.html' %}
