
{% include 'header.html' %}

<!-- 1.10.12, if needed -->
<script type="text/javascript" src="http://metadata.library.wayne.edu/oaiglow/inc/datatables/jquery.dataTables.min.js"></script>

<!-- header -->
<div class="row">
    <div class="col-md-12">
        <h2>Object Select</h2>
        <p>This area will help you find, and then select, objects to work on in Ouroboros.</p>
    </div>
</div>

<!-- main -->
<div class="row">

    <!-- tab navigation -->
    <div class="col-md-12">        
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" {% if task == 'find' %}class="active"{% endif %}><a href="#find" aria-controls="find" role="tab" data-toggle="tab">Find</a></li>
            <li role="presentation" {% if task == 'select' %}class="active"{% endif %}><a href="#select" aria-controls="select" role="tab" data-toggle="tab">Select</a></li>
        </ul>
    </div>

    <!-- tab content -->
    <div class="col-md-12 tab-content">

        <!-- find objects -->
        <div role="tabpanel" class="col-md-12 tab-pane fade in {% if task == 'find' %}active{% endif %}" id="find">

            <div class="row">
                <div style="margin-top:20px;" class="col-md-12">
                    <ul>
                        <li>Sorting: click a column to sort, or hold "shift" to sort by multiple fields</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div style="margin-top:20px;" class="col-md-12">
                    <div>                        
                        <table id="object_table" class="display" cellspacing="0" width="100%" style="font-size:100%;">
                            <thead></thead>
                            <tfoot>
                                <tr>
                                    <th>id</th>
                                    <th>dc_title_sorting</th>
                                    <th>dc_description</th>
                                    <th>human_isMemberOfCollection</th>
                                    <th>human_hasContentModel</th>
                                    <th>actions</th>
                            <tbody></tbody>          
                        </table>
                    </div>

                    <script type="text/javascript" charset="utf-8">
                        $(document).ready(function(){

                          var table = $('#object_table').DataTable({
                            "processing": true,
                            "serverSide": true,
                            "lengthMenu": [[5, 10, 25, 50, 100, 1000], [5, 10, 25, 50, 100, 1000]],
                            "ajax": {
                                contentType: "application/json",
                                type: "POST",
                                url: "/{{APP_PREFIX}}/selectObjects/solr.json",           
                                data: function ( d ) {
                                  return JSON.stringify( d );
                                }
                            },
                            "columns": [              
                                { 
                                    "name": "id",
                                    "title": "PID" 
                                },
                                { 
                                    "name": "dc_title_sorting",
                                    "title": "Title" 
                                },
                                { 
                                    "name": "dc_description",
                                    "title": "Description",
                                    "orderable": false
                                },
                                { 
                                    "name": "human_isMemberOfCollection",
                                    "title": "Collection",
                                    "orderable": false
                                },
                                { 
                                    "name": "human_hasContentModel",
                                    "title": "Content-Type",
                                    "orderable": false
                                },  
                                { 
                                    "name": "actions",
                                    "title": "Actions",
                                    "class": "text_centered",
                                    "orderable": false,
                                    "render": function (data, type, row, meta) {
                                        return '<a style="margin-right:10px;" target="_blank" href="/item/'+row[0]+'" class="button"><button class="btn btn-success btn-sm">View</button></a><a target="_blank" href="/{{APP_PREFIX}}/selectObjects/add_object/'+row[0]+'" class="button"><button class="btn btn-warning btn-sm">Send to Workspace</button></a>';
                                    }
                                }
                            ],
                            "pageLength": 10,
                            // "fnInitComplete": function(oSettings, json) {
                            //   console.log("table has finished loading, finishing up...");
                            //   console.log(json);
                            //   finish_rendering(json);
                            // },
                            initComplete: function (oSettings, json) {
                                var columns = table.settings().init().columns;
                                this.api().columns().every( function (index) {
                                    var column = this;

                                    column_name = columns[index].name;
                                    console.log(column_name);
                                    facet_handle = json.facets[column_name]
                                    console.log(facet_handle);

                                    if (facet_handle !== undefined){

                                        console.log("let's make one for",column_name);

                                        var select = $('<select><option value="">All</option></select>')
                                            .appendTo( $(column.footer()).empty() )
                                            .on( 'change', function () {
                                                var val = $(this).val()
                                                                     
                                                column
                                                    .search( val ? val : '', true, false )
                                                    .draw();
                                            } );

                                        for (var property in facet_handle) {
                                            if (facet_handle.hasOwnProperty(property)) {
                                                select.append( '<option value="'+property+'">' + property + ' (' + facet_handle[property] + ')</option>' );
                                            }
                                        }

                                    }

                                } );
                            }
                          });  

                        });

                        function finish_rendering(json) {

                            console.log("anything else we'd like to do?");

                        }

                    </script>

                </div>
            </div>

        </div>

        <!-- select objects -->
        <div role="tabpanel" class="col-md-12 tab-pane fade in {% if task == 'select' %}active{% endif %}" id="select">
            <h2>Selecting Objects!!!</h2>
        </div>

    </div>

</div>

{% include 'footer.html' %}