
{% include 'header.html' %}

<!-- header -->
<div class="row">
    <div class="col-md-12">
        <h2>Object Select</h2>
        <p>This area will help you find, and then select, objects to work on in Ouroboros.  The overall workflow is as follows:
            <ol>
                <li>Find objects: Use the table under the "find" tab to locate groups of objects through search and filtering</li>
                <li>Save objects to workspace: Send found objects to your workspace either individually, or in batch, with the option of giving them tags</li>
                <li>Select objects to work on: Navigate to your workspace under the "Select" tab to actively select objects to work on</li>
            </ol>
        </p>
    </div>
</div>

<!-- main -->
<div class="row">

    <!-- tab navigation -->
    <div class="col-md-12">        
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" {% if task == 'find' %}class="active"{% endif %}><a href="#find" aria-controls="find" role="tab" data-toggle="tab">Find</a></li>
            <li role="presentation" {% if task == 'select' %}class="active"{% endif %}><a href="#select" aria-controls="select" role="tab" data-toggle="tab" onclick='table_handle.draw();'>Select</a></li>
        </ul>
    </div>

    <!-- tab content -->
    <div class="col-md-12 tab-content">

        <!-- find objects -->
        <div role="tabpanel" class="col-md-12 tab-pane fade in {% if task == 'find' %}active{% endif %}" id="find">

            <div style="margin-top:20px;" class="row">
                <div class="col-md-3">
                    <form class="form-horizontal" id="add_object_search" role="form" method="POST" action="/{{APP_PREFIX}}/selectObjects/add_object_search" enctype="multipart/form-data">
                        <div class="col-md-12">              

                            <!-- Group / Tag -->
                            <div class="form-group">
                                <label class="control-label">Tag:</label>
                                <p>Optionally, add tags when sending objects to workspace to group them later.</p>
                                <input id="tag_group" class="form-control" type="text" name="tag_group" placeholder="e.g. all_images, to_reindex, vmc">
                            </div>

                             <!-- Send objects to workspace -->
                            <div class="form-group">
                                <input id="search_params" type="hidden" name="search_params" value="">                                
                                <input type="submit" class="btn btn-success" value="Send Search Results to Workspace">
                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-md-3">
                    <h4>Status:</h4>
                    <div id="status_msg"></div>
                </div>

            </div>

            <div class="row">
                <div style="margin-top:20px;" class="col-md-12">
                    <div>                        
                        <table id="object_table" class="display" cellspacing="0" width="100%" style="font-size:100%;">
                            <thead></thead>
                            <tfoot>
                                <tr>
                                    <th>id</th>
                                    <th>dc_title_sorting</th>
                                    <th>dc_description</th>
                                    <th>human_isMemberOfCollection</th>
                                    <th>human_hasContentModel</th>
                                    <th>actions</th>
                            <tbody></tbody>          
                        </table>
                    </div>

                    <script type="text/javascript" charset="utf-8">
                        $(document).ready(function(){

                          var table = $('#object_table').DataTable({
                            "processing": true,
                            "serverSide": true,
                            "lengthMenu": [[5, 10, 25, 50, 100, 1000], [5, 10, 25, 50, 100, 1000]],
                            "ajax": {
                                contentType: "application/json",
                                type: "POST",
                                url: "/{{APP_PREFIX}}/selectObjects/solr.json",           
                                data: function ( d ) {
                                  return JSON.stringify( d );
                                }
                            },
                            "columns": [              
                                { 
                                    "name": "id",
                                    "title": "PID" 
                                },
                                { 
                                    "name": "dc_title_sorting",
                                    "title": "Title" 
                                },
                                { 
                                    "name": "dc_description",
                                    "title": "Description",
                                    "orderable": false
                                },
                                { 
                                    "name": "human_isMemberOfCollection",
                                    "title": "Collection",
                                    "orderable": false
                                },
                                { 
                                    "name": "human_hasContentModel",
                                    "title": "Content-Type",
                                    "orderable": false
                                },  
                                { 
                                    "name": "actions",
                                    "title": "Actions",
                                    "class": "text_centered",
                                    "orderable": false,
                                    "render": function (data, type, row, meta) {
                                        return '<a style="margin-right:10px;" target="_blank" href="/item/'+row[0]+'" class="button"><button class="btn btn-warning btn-sm">View</button></a><form class="add_object_single" action="/{{APP_PREFIX}}/selectObjects/add_object_single" style="display:inline;"><input type="hidden" value="'+row[0]+'" name="pid"><input type="hidden" value="" name="tag_group"><input type="submit" class="btn btn-success btn-sm" value="Send Object to Workspace"></form>';
                                    }
                                }
                            ],
                            "pageLength": 10,
                            drawCallback: post_draw,
                            initComplete: function (oSettings, json) {

                                // render repository level filters
                                var target_columns = ['human_isMemberOfCollection', 'human_hasContentModel']
                                var columns = table.settings().init().columns;
                                this.api().columns().every( function (index) {
                                    var column = this;

                                    column_name = columns[index].name;
                                    if (target_columns.includes(column_name)) {

                                        facet_handle = json.facets[column_name]

                                        if (facet_handle !== undefined){

                                            var select = $('<select><option value="">All</option></select>')
                                                .appendTo( $(column.footer()).empty() )
                                                .on( 'change', function () {
                                                    var val = $(this).val()
                                                                         
                                                    column
                                                        .search( val ? val : '', true, false )
                                                        .draw();
                                                } );

                                            for (var property in facet_handle) {
                                                if (facet_handle.hasOwnProperty(property)) {
                                                    select.append( '<option value="'+property+'">' + property + '</option>' );
                                                }
                                            }

                                        }
                                    }
                                    else {
                                        $(column.footer()).empty();
                                    }
                                });

                                // fire finish_rendering
                                finish_rendering();

                            }
                          });  

                            function finish_rendering(json) {
                                console.log("anything else we'd like to do?");
                            }

                        });

                        function post_draw(settings){
                            
                            console.log(settings);

                            // update form connectors
                            var single_options = {
                                beforeSubmit: function(arr, $form, options) {                                         
                                    var current_tag_group = $("#tag_group").val();
                                    console.log("current tag group is:",current_tag_group);
                                    for (var i = 0; i < arr.length; i++) {
                                        if (arr[i].name == "tag_group"){
                                            arr[i].value = current_tag_group;
                                        }
                                    }
                                },
                                success: function(responseText, statusText, xhr, $form){
                                    console.log(responseText);
                                    $("#status_msg").html("<p style='color:green;'>"+responseText+"</p>");
                                }
                            }
                            $('.add_object_single').ajaxForm(single_options);

                            // update search_params in add_object_search
                            search_params_json = JSON.stringify(settings.json.search_params);
                            console.log(search_params_json);
                            $("#search_params").val(search_params_json)
                        }

                        // bind search results to button click
                        $(document).ready(function(){
                            var search_options = {                                
                                success: function(responseText, statusText, xhr, $form){
                                    console.log(responseText);
                                    $("#status_msg").html("<p style='color:green;'>"+responseText+"</p>");
                                }
                            }
                            $('#add_object_search').ajaxForm(search_options);                            
                        });


                    </script>

                </div>
            </div>

        </div>

        <!-- select objects -->
        <div role="tabpanel" class="col-md-12 tab-pane fade in {% if task == 'select' %}active{% endif %}" id="select">
            
            <div style="margin-top:20px;" class="row">
                <div class="col-md-12">
                    <p>Below, select and deselect currently active objects in your Workspace.  When running batch jobs, all "active" objects in your workspace will be included in the queue.</p>
                    <ul>
                        <li><a href="#" onclick="PIDmanageAction('s_all'); return false;">Select All</a></li>      
                        <li><a href="#" onclick="PIDmanageAction('s_none'); return false;">Select None</a></li>    
                        <li><a href="#" onclick="PIDmanageAction('s_toggle'); return false;">Toggle All</a></li>  
                       
                        <li>        
                            Toggle Group:
                            <select id="toggle_group" class="object_groups" name="group_name" onchange="PIDmanageAction('group_toggle'); $(this).prop('selectedIndex',0); return false;"></select>        
                        </li>
                        <li><a href="#" onclick="PIDmanageAction('s_del'); setTimeout(function(){console.log('waiting...'); populateGroups(); }, 500); return false;">Remove Selected Objects from Workspace</a></li>
                    </ul>
                </div>
            </div>

            <div id="selection_table" class="row" style="margin-top:20px;">
                <div class="col-md-12">
                    <select id="filter_group" class="object_groups" name="group_filter" onchange="filterGroup();"></select>
                    <table id="PIDtable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>            
                                <th>id</th>
                                <th>PID</th>
                                <th>username</th>    
                                <th>status</th>
                                <th id="group_name_col">group</th>
                                <th>actions</th>                  
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>            
                                <th>id</th>
                                <th>PID</th>
                                <th>username</th>    
                                <th>status</th>
                                <th>group</th>
                                <th>actions</th>                  
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <script type="text/javascript">
            // JS for creating tables based on user selectedPIDs
            var table_handle = "";

            function paintTable(username,DT_target){

                table_handle = $('#PIDtable').DataTable( {      
                    "serverSide": true,                     
                    "ajax": DT_target,      
                    "columns": [
                        {   "searchable": true, 
                            "name":"id" 
                        },
                        {   "searchable": true, 
                            "name":"PID" 
                        },
                        {   "searchable": true, 
                            "name":"username",
                            "visible":false         
                        },          
                        {
                            "name":"status",
                            "visible":true
                        },
                        {   "searchable": true, 
                            "name":"group"                      
                        },
                        {
                            "name":"actions",
                            "title":"actions",              
                            "render":function (data,type,row){                                      
                                return "<a href='#' onclick='del_row("+row[0]+"); return false;'>remove</a>";
                            }               
                        }       
                      ],
                    searchCols: [
                        null,
                        null,           
                        { sSearch: username },
                        null,
                        null,
                        null
                    ],      
                    "rowCallback": function( row, data, displayIndex ) {
                        if ( data[3] == 1 ) {               
                            $(row).addClass('selected');                
                        }
                    },
                    start:1,
                    drawCallback: workspace_post_draw
                } );

                // row select toggle
                $('#PIDtable tbody').on('click', 'tr', function () {        
                    var id = $(this).children()[0].innerHTML;       
                    $.ajax({
                        url: "/{{APP_PREFIX}}/PIDRowUpdate/"+id+"/update_status/toggle",         
                        }).done(function() {
                        $(this).toggleClass('selected');
                        table_handle.draw( false ); // false parameter keeps current page
                    });
                } );
             
            }

            function PIDmanageAction(action){

                if (action == "group_toggle"){      
                    data = {"group_name":$("#toggle_group").val()}
                    console.log(data);
                    $.ajax({
                        url: "/{{APP_PREFIX}}/PIDmanageAction/"+action,      
                        type:"POST",
                        data:data           
                        })
                    .done(function(response) {
                        console.log(response);      
                        table_handle.draw( false );         
                    });
                }
                
                else {
                    $.ajax({
                        url: "/{{APP_PREFIX}}/PIDmanageAction/"+action,                  
                        })
                    .done(function(response) {
                        console.log(response);      
                        table_handle.draw( false );         
                    });
                }
            }

            // delete row
            function del_row(id){   
                $.ajax({
                    url: "/{{APP_PREFIX}}/PIDRowUpdate/"+id+"/delete/delete",
                    }).done(function() {
                        $(this).toggleClass('selected');
                        table_handle.draw();
                    });
            }   

            // filter by gruop
            function filterGroup(){
                table_handle.column(4).search($("#filter_group").val()).draw(false);
            }

            // fire
            $(document).ready(function(){

                // original table draw
                paintTable("{{username}}","{{localConfig.DATATABLES_HANDLE}}");

                // populate groups everywhere
                populateGroups();

                // listener for tab being selected
                 $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href");
                    console.log(target);
                    if ((target == '#select')) {
                        console.log('updating userworkspace');
                        // redraw table
                        table_handle.draw();
                        // populate groups everywhere
                        populateGroups();
                    }
                });

            });

            function populateGroups(){

                $.ajax({
                  url: "/{{APP_PREFIX}}/selectObjects/workspace.json",
                  context: document.body
                }).done(function(data) {
                  $.each($(".object_groups"), function() {
                    $(this).empty();
                    this.append(new Option("Select a group...",''));
                    for (var i = 0; i < data.groups.length; i++) {
                        $(this).append(new Option(data.groups[i], data.groups[i]));
                    };
                  });

                });

            }

            function workspace_post_draw(settings){
                // populate groups everywhere
                // populateGroups();
            }

        </script>

        </div>

    </div>

</div>

{% include 'footer.html' %}