{% include 'header.html' %}

<div class="row">
    <div class="col-md-12">
        <h2>Selected Objects Overview</h2>
        <p>This space is designed to provide a birds eye view of currently selected objects including collections they belong to, sizes, shared relationships, and other essential qualities.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td><strong>Metric</strong></td>
                <td><strong>Value</strong></td>
            </tr>
                <td>Total size of selected objects</td>
                <td>{{stats.solr.obj_size_i.sum}} bytes / {{stats.human.sum}}</td>
            </tr>
        </table>
    </div>
</div>

{% include 'footer.html' %}