{% include 'header.html' %}

<h2>Server Management</h2>

<p>This area is for managing server properties and tasks where Ouroboros, Fedora Commons, Solr, and the Digital Collections front-end resides.  As utilities are added, it is likely groups will form below.</p>

<ul>	
	<li><a href="/tasks/bagIngest">Bag Ingest</a></li>
	<li><a href="/tasks/updateSolr/select">Update / Index Solr</a></li>
	<li><a href="/imgServerCacheClear">Clear imageServer Cache</a></li>	
</ul>	


{% include 'footer.html' %}