{% include 'header.html' %}

<!-- highlight syntax -->
<link rel="stylesheet" href="{{ url_for('static',filename='highlight.min.css')}}">
<script src="{{ url_for('static',filename='highlight.min.js')}}"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div class="row">

	<div class="col-md-12">
		<h2>System Status</h2>		
	</div>

</div>

<div class="row">

	<div class="col-md-12">

		<div class="col-md-6">
				<h3>Ouroboros Supervisor Process</h3>
				<p id="ouro_state"></p>
				<pre><code class="highlight" id="ouroboros"></code></pre>
				<script type="text/javascript">
					var ouroboros = '{{ouroboros_info|safe}}';					
					if (ouroboros == "False") {
						$("#ouroboros").html("Ouroboros not found as Supervisor process.");	
					}
					else {
						var ouroboros_JSON = JSON.parse(ouroboros);
						if (ouroboros_JSON.statename == "STOPPED") {
							console.log("Note: Detected Ouroboros not running as Supervisor process");
							$("#ouro_state").html("<span style='color:red;'>Note: Detected Ouroboros not running as Supervisor process</span>");
						}
						var str = JSON.stringify(ouroboros_JSON, null, 2);
						$("#ouroboros").html(str);
					}
				</script>		
				<!-- <a href="/{{APP_PREFIX}}/systemStatus/restartOuroboros"><button class="btn btn-danger">Restart Ouroboros (will have to manually restart)</button></a> -->
			</div>

		<div class="col-md-6">

			<h3>Ports</h3>		

			<table class="table">
				<tr>
					<td><strong>Service</strong></td>
					<td><strong>Port</strong></td>
					<td><strong>Status</strong></td>
				</tr>
				{% for port,desc,msg in imp_ports_results %}
				<tr>
					{% if msg == 'active' %}	
						<td style="color:green;">{{desc}}</td>
						<td style="color:green;">{{port}}</td>
						<td style="color:green;"><strong>{{msg}}</strong></td>
					{% else %}
						<td style="color:red;">{{desc}}</td>
						<td style="color:red;">{{port}}</td>
						<td style="color:red;"><strong>{{msg}}</strong></td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>

		</div>

	</div>

</div>

<hr>

<div class="row">

	<div class="col-md-12">
		{% for key, value in sup_info.iteritems() %}
				<div class="col-md-6">
					<h3>{{ key }}</h3>
					<pre><code class="highlight" id="{{key}}"></code></pre>
					<script type="text/javascript">
						var cw = '{{ value|safe }}';
						console.log(cw)
						if (cw == "False") {
							$("#{{key}}").html("not active.");	
						}
						else {
							var cw_JSON = JSON.parse(cw)
							var str = JSON.stringify(cw_JSON, null, 2);
							$("#{{key}}").html(str);
						}
					</script>
					{% if value|safe == 'False' %}
						<a href="/{{APP_PREFIX}}/systemStatus/cw/{{key}}/start"><button class="btn btn-success">Start</button></a>
					{% else %}
						<a href="/{{APP_PREFIX}}/systemStatus/cw/{{key}}/restart"><button class="btn btn-warning">Restart</button></a>
					{% endif %}
						<a href="/{{APP_PREFIX}}/systemStatus/cw/{{key}}/stop"><button class="btn btn-danger">Stop</button></a>
				</div>
		{% endfor %}

	</div>

</div>

{% include 'footer.html' %}