{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">
		<h2>Background Jobs Status</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Currently running for <strong>{{username}}</strong>:</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<pre>
			<ul id="job_list"></ul>
		</pre>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>If empty, no jobs currently running, <a href="/{{APP_PREFIX}}/userAllJobs">click here for all user jobs.</a></p>
		<p>If jobs stalled or did not complete, <a href="/{{APP_PREFIX}}/retireAllJobs">click here to "retire" all non-completed jobs</a>.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<h2>Indexer Status</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-6">

		<h3>Queued</h3>

		<p>The table belows represents objects currently queued for indexed.  The table automatically refreshes every 5 seconds.</p>

		<!-- insert table here -->
		<table id="queued" class="display" cellspacing="0" width="100%" style="font-size:100%;">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>pid</th>
                    <th>username</th>
                    <th>priority</th>
                    <th>action</th>
                    <th>timestamp</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>

	<div class="col-md-6">

		<h3>Working</h3>

		<p>The table belows represents objects currently being indexed.  The table automatically refreshes every 5 seconds.</p>

		<!-- insert table here -->
		<table id="working" class="display" cellspacing="0" width="100%" style="font-size:100%;">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>pid</th>
                    <th>username</th>
                    <th>priority</th>
                    <th>action</th>
                    <th>timestamp</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>
</div>

<div class="row">
	<div class="col-md-6">

		<h3>Exceptions</h3>

		<p>The table belows represents objects that failed.  The table automatically refreshes every 5 seconds.</p>

		<!-- insert table here -->
		<table id="exception" class="display" cellspacing="0" width="100%" style="font-size:100%;">
            <thead>
                <tr>            
                    <th>id</th>
                    <th>pid</th>
                    <th>username</th>
                    <th>priority</th>
                    <th>action</th>
                    <th>timestamp</th>
                    <th>msg</th>
                </tr>
            </thead>  
            <tbody></tbody>          
        </table>

	</div>

</div>



<!-- script to long-poll update above, proof of concept -->
<script type="text/javascript">	

	// likely be removed if moving to prettier tempating
	function exportJobStatus(job_package){

		var return_string = "Job #"+job_package.job_num+", <strong>"+job_package.job_name+"</strong>: "+job_package.completed_tasks+" / "+job_package.estimated_tasks+" ("+job_package.comp_percent+") - "+job_package.job_status+" - (assigned: "+job_package.assigned_tasks+") - Elapsed / Est. Remaining: "+job_package.time_elapsed+" / "+job_package.time_remaining+" - <a href='/{{APP_PREFIX}}/jobDetails/"+job_package.job_num+"'>Job Details</a>";
		 
		return return_string;
	}

	// function to perform polling, requires wait_time variable	
	function poll(wait_time){
		var longPoller = setTimeout(function(){
			url = "/{{APP_PREFIX}}/userJobs?data=true";
			$.ajax({ 
				url: url, 
				dataType:"json",
				success: function(response){

					// iterate through jobs here...
					// this will be drastically improved for jquery bars...
					for (var i=0; i<response.length; i++){
						var job_package = response[i];
						if($("#job_num_" + job_package.job_num).length == 0) {
							//it doesn't exist
							$("#job_list").append("<li id='job_num_"+job_package.job_num+"'>"+exportJobStatus(job_package)+"</li>");	
						}
						else{
							$("#job_num_"+job_package.job_num).html(exportJobStatus(job_package));
						}
						
					}				

					// the loop
					if (response.job_status != "complete"){
						poll(wait_time);	
					}
					else{
						console.log("finis!");
					}
				}		
			}); // end ajax
		}, wait_time)		
	}

	// function to modify polling time if job is spooling or pending
	function updateLongPoller(status,longPoller){		
		if (status == "spooling" || status == "pending"){
			console.log("setting new timeout");
			clearTimeout(longPoller);
			return 3000;
		}
		else {
			return 1000;
		}
	}

	// automatic start
	poll(1500);
</script>

<!-- JS for indexer queues -->
<script type="text/javascript" charset="utf-8">
	
	$(document).ready(function(){
	  
	  // queued
	  var qtable = $('#queued').DataTable({
	    "processing": false,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/indexing/status/queued.json",
	    "oLanguage": {
	        "sProcessing": "<img src='/themes/third_party/linkedin_search/img/165.gif'>"
	    }
	  });
	  $.fn.dataTable.ext.errMode = 'none';
		$('#queued').on('error.dt', function(e, settings, techNote, message) {
		   console.log( 'An error has been reported by DataTables: ', message);
		})

	  // working
	  var wtable = $('#working').DataTable({
	    "processing": false,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/indexing/status/working.json"
	  });
	  $.fn.dataTable.ext.errMode = 'none';
		$('#working').on('error.dt', function(e, settings, techNote, message) {
		   console.log( 'An error has been reported by DataTables: ', message);
		})

	  // exception
	  var etable = $('#exception').DataTable({
	    "processing": false,
	    "serverSide": true,
	    "ajax": "/{{APP_PREFIX}}/indexing/status/exception.json"
	  });
	  $.fn.dataTable.ext.errMode = 'none';
		$('#exception').on('error.dt', function(e, settings, techNote, message) {
		   console.log( 'An error has been reported by DataTables: ', message);
		})

	  // refresh timer
	  setInterval( function () {
	    qtable.ajax.reload();
	    wtable.ajax.reload();
	    etable.ajax.reload();
	  }, 5000 );

	});

</script>



{% include 'footer.html' %}