{% include 'header.html' %}
<!-- User Page -->

<h2>Welcome to WSUDOR_Manager, {{userData.username}}!</h2>
<ul>		
	<li><h3>Object Selection & Workspace</h3></li>
	<ul>		
		<li><a href="/PIDSolr">Find Objects</a></li>
		<li><a href="/PIDmanage">User Workspace</a></li>	
	</ul>

	<li><h3>Areas</h3></li>
	<ul>		
		<li><a href="/contentModels">Content Types</a></li>
		<li><a href="/objectManagement">Object Management</a></li>
		<li><a href="/datastreamManagement">Datastream Management</a></li>
		<li><a href="/MODSedit">MODS Management</a></li>
		<li><a href="/tasks/editRELS">RDF / RELS-EXT Modeling</a></li>		
		<!-- <li><a href="/tasks/checksum" style="color:orange;">Checksum Objects</a></li> -->
		<li><a href="/tasks/manageOAI">Manage OAI Feed</a></li>
		<li><a href="/serverManagement">Server Management</a></li>
	</ul>	
	
	<li><h3>Jobs</h3></li>
	<ul>
		<li><a href="/userJobs">Currently Running Jobs</a></li>
		<li><a href="/userAllJobs">All Jobs</a></li>
		<li><a href="/flushPIDLock">Release all Objects from "PID Lock"</a></li>		
	</ul>

</ul>

{% include 'footer.html' %}
