{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">
		<h4>Currently running job for <strong>{{username}}</strong>:</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<pre>
			<ul id="job_list"></ul>
		</pre>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>If empty, no jobs currently running, <a href="/{{APP_PREFIX}}/userAllJobs">click here for all user jobs.</a></p>
		<p>If jobs stalled or did not complete, <a href="/{{APP_PREFIX}}/retireAllJobs">click here to "retire" all non-completed jobs</a>.</p>
	</div>
</div>

<!-- script to long-poll update above, proof of concept -->
<script type="text/javascript">	

	// likely be removed if moving to prettier tempating
	function exportJobStatus(job_package){

		var return_string = "Job #"+job_package.job_num+", <strong>"+job_package.job_name+"</strong>: "+job_package.completed_tasks+" / "+job_package.estimated_tasks+" ("+job_package.comp_percent+") - "+job_package.job_status+" - (assigned: "+job_package.assigned_tasks+") - Elapsed / Est. Remaining: "+job_package.time_elapsed+" / "+job_package.time_remaining+" - <a href='/{{APP_PREFIX}}/jobDetails/"+job_package.job_num+"'>Job Details</a>";
		 
		return return_string;
	}

	// function to perform polling, requires wait_time variable	
	function poll(wait_time){
		var longPoller = setTimeout(function(){
			url = "/{{APP_PREFIX}}/userJobs?data=true";
			$.ajax({ 
				url: url, 
				dataType:"json",
				success: function(response){

					// iterate through jobs here...
					// this will be drastically improved for jquery bars...
					for (var i=0; i<response.length; i++){
						var job_package = response[i];
						if($("#job_num_" + job_package.job_num).length == 0) {
							//it doesn't exist
							$("#job_list").append("<li id='job_num_"+job_package.job_num+"'>"+exportJobStatus(job_package)+"</li>");	
						}
						else{
							$("#job_num_"+job_package.job_num).html(exportJobStatus(job_package));
						}
						
					}				

					// the loop
					if (response.job_status != "complete"){
						poll(wait_time);	
					}
					else{
						console.log("finis!");
					}
				}		
			}); // end ajax
		}, wait_time)		
	}

	// function to modify polling time if job is spooling or pending
	function updateLongPoller(status,longPoller){		
		if (status == "spooling" || status == "pending"){
			console.log("setting new timeout");
			clearTimeout(longPoller);
			return 3000;
		}
		else {
			return 1000;
		}
	}

	// automatic start
	poll(1500);
</script>
{% include 'footer.html' %}