{% include 'header.html' %}

<h2>WSUDOR Management</h2>

<p>This area is for managing server properties and tasks where Ouroboros, Fedora Commons, Solr, and the Digital Collections front-end resides.  As utilities are added, it is likely groups will form below.</p>

<ul>	
	<li><a href="/tasks/bagIngest">Bag Ingest</a></li>
	<li><a href="/tasks/bagIngestAndPush">Bag Ingest and Push</a></li>
	<li><a href="/tasks/updateSolr/select">Update / Index Solr</a></li>
	<li><a href="/imgServerCacheClear">Clear imageServer Cache</a></li>
	<li><a href="/clearSymLinks">Clear symLinks from fedDataSpy()</a></li>
	<li><a href="/clearExportBagItArchives">Clear exported, web accessible BagIt objects</a></li>
	<li><a href="/collectionsOverview">Collections Overview</a></li>	
</ul>	


{% include 'footer.html' %}