{% include 'header.html' %}

<h2>WSUDOR Management</h2>

<p>This area is for managing server properties and tasks where Ouroboros, Fedora Commons, Solr, and the Digital Collections front-end resides.  As utilities are added, it is likely groups will form below.</p>

<ul>	
	<li><a href="/{{APP_PREFIX}}/tasks/ingestWorkspace">Ingest Workspace</a></li>
	<li><a href="/{{APP_PREFIX}}/tasks/bagIngest">Bag Ingest (with option to push to remote repository)</a></li>
	<li><a href="/{{APP_PREFIX}}/tasks/createObj">Create Generic Object</a></li>	
	<li><a href="/{{APP_PREFIX}}/tasks/updateSolr/select">Update / Index Solr</a></li>
	<li><a href="/{{APP_PREFIX}}/imgServerCacheClear">Clear imageServer Cache</a></li>
	<li><a href="/{{APP_PREFIX}}/clearSymLinks">Clear symLinks from fedDataSpy()</a></li>
	<li><a href="/{{APP_PREFIX}}/clearExportBagItArchives">Clear exported, web accessible BagIt objects</a></li>
	<li><a href="/{{APP_PREFIX}}/collectionsOverview">Collections Overview</a></li>	
</ul>	


{% include 'footer.html' %}