{% include 'header.html' %}
<h1>RELS-EXT editing</h1>
<p><p>RDF statements are expressed as triples in Fedora Commons.  A triple is comrpised of a "subject", "predicate", and "object".  This can be thought of as a "thing (subject)" having a "relationship (predicate" to another "thing (object)".  Subject, Predicate, Object is commonly referred to as "SPO".  In the case of this utility, the "subject" will always be the current PID in the PID set when iterating through.</p>

<p>Find below methods for adding / editing / removing relationships between objects in Fedora.  Please keep in mind, the focus of this utility is to edit objects in bulk</p>

<h2>Options:</h2>
<ul>
	<li><a href="./editRELS/add">Add Relationships</a></li>
	<li><a href="./editRELS/shared">Modify / Purge Shared Relationships</a></li>
	<li><a href="./editRELS/blanket">Blanket RELS-EXT XML Editing</a></li>
</ul>
{% include 'footer.html' %}
