{% include 'header.html' %}
<h1>RELS-EXT editing</h1>
<p><p>RDF statements are expressed as triples in Fedora Commons.  A triple is comrpised of a "subject", "predicate", and "object".  This can be thought of as a "thing (subject)" having a "relationship (predicate" to another "thing (object)".  Subject, Predicate, Object is commonly referred to as "SPO".  In the case of this utility, the "subject" will always be the current PID in the PID set when iterating through.</p>
<p style="color:red;"><strong>Note: triples and raw RDF XML are from the following PID only: {{PID}}</strong></p>
<p>This utility is designed to act on PIDs in bulk.  As such, the XML applied below will be applied to all selected PIDs, but this does <strong>not</strong> gaurantee they all have identical RELS-EXT datastreams.  Carefully selecting PIDs with self-similar RELS-EXT datastreams should be carried out with searching and managing currently selected PIDs.</p>
<p>You may also browse other PIDs in the set:<br>
	<a href='/tasks/editRELS?PIDnum={{(PIDnum - 1)}}'>previous</a> / <a href='/tasks/editRELS?PIDnum={{(PIDnum + 1)}}'>next</a></p>
<p>

<h2>Edit RDF triples for PIDs</h2> 
<p>You can view triples for the representative PID in the table, and edit the raw RELS-EXT XML datastream below.  Clicking "go" will apply that XML verbatim to all PIDs in the set.</p>

<table id="rdf_triples">
	<tr class="headers">
		<td><strong>Predicate</strong></td>
		<td><strong>Object</strong></td>
	</tr>
	{% for p,o in riquery_filtered %}
		<tr>
			<td>{{p}}</td>
			<td>{{o}}</td>
		</tr>
	{% endfor %}
</table>

<form action="/fireTask/editRELS_edit_worker" method="POST" >
	<!-- <ul>
	{% for p,o in riquery_filtered %}
		<li><input name="predicate" value="{{p}}" size="150"><input name="object" value="{{o}}" size="150"></li>
	{% endfor %}
	</ul> -->

	<h3>Raw RDF / RELS-EXT XML</h3>
	<textarea name="raw_xml" cols="100" rows="20">{{raw_xml}}</textarea><br>
	<!-- {{ form.raw_xml(cols="100", rows="20")|safe}}<br> -->
	<button type="submit">go!</button>
</form>

<h2>Add RDF triple to PIDs</h2>
<p>You can select a predicate "relationship" below, then provide the target object.  The target object should be formed like the example objects from the table above (e.g. "info:fedora/wayne:collectionCFAI").</p>
<form action="/fireTask/editRELS_add_worker" method="POST" >
	{{ form.predicate.label }} {{ form.predicate }} {{ form.obj.label }} {{ form.obj(size=100) }}	
	<button type="submit">go!</button>
</form>

<h2 style="color:gray;">Remove defined RDF triple from PIDs</h2>
<p style="color:gray;">(in-process)</p>
<!-- <form action="/fireTask/editRELS_remove_worker" method="POST" >
	{{ form.predicate.label }} {{ form.predicate }} {{ form.obj.label }} {{ form.obj(size=100) }}
	<button type="submit">go!</button>
</form> -->