{% include 'header.html' %}
<h1>Purge Datastream</h1>

<p>You may also browse other PIDs in the set:<br>
	<a href='/tasks/purgeDS?PIDnum={{(PIDnum - 1)}}'>previous</a> / <a href='/tasks/purgeDS?PIDnum={{(PIDnum + 1)}}'>next</a></p>
<p>
<p>Current PID: {{PID}}
	<form method="POST" action="/fireTask/purgeDS_worker" enctype="multipart/form-data">
	{{ form.csrf_token }} 
	{{ form.dsID.label }} {{ form.dsID(size=60) }}<br>
	{{ form.altIDs.label }} {{ form.altIDs(size=60) }}<br>
	<select id="names" name="names">
    <option value="">Filter by dsID Name...</option>
    {% for name in names %}
        <option value="{{name}}">{{name}}</option>
    {% endfor %}
	</select>	
	<input type="submit" value="Go">
</form>

