{% include 'header.html' %}

<h1>RELS-EXT editing - RELS-EXT XML</h1>

<p style="color:red;"><strong>Note: triples and raw RDF XML are from the following PID only: {{PIDlet.cPID}}</strong></p>
<p>This utility is designed to act on PIDs in bulk.  As such, the XML applied below will be applied to all selected PIDs, but this does <strong>not</strong> gaurantee they all have identical RELS-EXT datastreams.  Carefully selecting PIDs with self-similar RELS-EXT datastreams should be carried out with searching and managing currently selected PIDs.</p>

<div class="row">
	<div class="col-md-12">		
		{% include "PIDiterator.html" %}
	</div>
</div>

<h2>Edit RDF triples for PIDs</h2> 
<p>You can view triples for the representative PID in the table, and edit the raw RELS-EXT XML datastream below.  Clicking "go" will apply that XML verbatim to all PIDs in the set.</p>

<table id="rdf_triples">
	<tr class="headers">
		<td><strong>Predicate</strong></td>
		<td><strong>Object</strong></td>
	</tr>
	{% for p,o in riquery_filtered %}
		<tr>
			<td>{{p}}</td>
			<td>{{o}}</td>
		</tr>
	{% endfor %}
</table>

<form action="/ouroboros/fireTask/obj_loop/editRELS_edit_worker" method="POST" >
	
	<h3>Raw RDF / RELS-EXT XML</h3>
	<textarea name="raw_xml" cols="100" rows="20">{{raw_xml}}</textarea><br>	
	<button type="submit">go!</button>
</form>

<h2>Regex: Edit RDF / RELS-EXT XML with Regular Expressions</h2> 
<p>Provide <strong>search</strong> and <strong>replace</strong> strings to perform a regex search & replace on the RELS-EXT datastream XML</p>

<form action="/ouroboros/tasks/editRELS/regexConfirm" method="POST" >
	
	<h3>RDF / RELS-EXT Regex Editing</h3>
	<textarea name="raw_xml" cols="100" rows="20">{{raw_xml}}</textarea><br>
	{{ form.regex_search.label }} {{ form.regex_search(size=150) }}<br>
	{{ form.regex_replace.label }} {{ form.regex_replace(size=150) }}<br>
	
	<button type="submit">go!</button>
</form>

