{% include 'header.html' %}
<h1>RELS-EXT editing - Shared Relationships</h1>
<p>The table below shows RDF relationships <strong>shared</strong> by all <a href="/{{APP_PREFIX}}/PIDmanage">currently selected PIDs</a>.  To modify a relationship, select a relationship from the dropdown menu or type in your own.  To modify the target object, enter a new PID or value.</p>
<p>You can use <strong>&#123;&#123;PID&#125;&#125;</strong> in the object field as a placeholder for a string of the PID if desired.</p>
<div style="width:100%; text-align:center;">
	<img src="{{ url_for('static',filename='img/SPO_model.png')}}"/>
</div>

<div style="width:100%; text-align:center;">
	<table id="rdf_triples_modify" style="margin:auto;" class="table">
		<tr class="headers">
			<td><strong>Predicate</strong></td>
			<td><strong>Object</strong></td>
			<td><strong>Actions</strong></td>
		</tr>
		{% for predicate,object in shared_relationships %}			
			<tr>				
				<td class="predicate"><input type="text" name="{{predicate}}" value="{{predicate}}" size=120/></td>
				<td class="object"><input type="text" name="{{object}}" value="{{object}}" size=80/></td>
				<td><span class="edit" style="color:orange; cursor:pointer;" onclick="modifyRel($(this)); return false;" >modify</span> / <span style="color:red; cursor:pointer;" onclick="removeRel('{{predicate}}','{{object}}'); return false;">remove</span></td>								
			</tr>
		{% endfor %}
	</table>
</div>

<!-- load JS -->
<script type="text/javascript">

	// js file for editRELS action

	// modify relationship
	function modifyRel(self){
		console.log("About to modify...");
		var new_predicate = self.parent().siblings('td.predicate').children('input').val();
		var old_predicate = self.parent().siblings('td.predicate').children('input').attr('name');
		var new_object = self.parent().siblings('td.object').children('input').val();
		var old_object = self.parent().siblings('td.object').children('input').attr('name');	

		// create and submit form (results in redirect)
		var url = "/{{APP_PREFIX}}/fireTask/obj_loop/editRELS_modify_worker";

		var form = $('<form action="' + url + '" method="POST">' +
		'<input type="hidden" name="new_predicate" value="' + new_predicate + '" />' +
		'<input type="hidden" name="old_predicate" value="' + old_predicate + '" />' +
		'<input type="hidden" name="new_object" value="' + new_object + '" />' +
		'<input type="hidden" name="old_object" value="' + old_object + '" />' +
		'</form>');
		
		// submit
		form.submit();	
	}


	// purge relationship
	function removeRel(predicate,object){
		console.log("About to purge...");
		console.log(predicate,object);

		// create and submit form (results in redirect)
		var url = "/{{APP_PREFIX}}/fireTask/obj_loop/editRELS_purge_worker";

		var form = $('<form action="' + url + '" method="POST">' +
		'<input type="hidden" name="predicate" value="' + predicate + '" />' +
		'<input type="hidden" name="object" value="' + object + '" />' +	
		'</form>');
		
		// submit
		form.submit();

	}


</script>

{% include 'footer.html' %}