{% include 'header.html' %}
<h2>MODS Export/Import</h2>

<div class="row">
	<div class="col-md-6">
		<form class="form-horizontal" id="form" role="form" method="POST" action="/ouroboros/fireTask/custom_loop/MODSimport_factory" enctype="multipart/form-data">
			<div class="col-md-12">
				<!-- Pasting content -->
				<div class="form-group dataTypes" id="content" >
					{{ form.content.label(class="control-label") }} {{ form.content(class="form-control input-sm", **{'placeholder':'XML goes here'}) }}
				</div>
				<h4>Or</h4>
				<!-- Uploading content -->
				<div class="form-group dataTypes" id="upload" >
					{{ form.upload.label(class="control-label") }} {{ form.upload }}
				</div>	

				<input type="submit" class="btn btn-success" value="Go">
			</div>
		</form>
	</div>
</div>

{% include 'footer.html' %}


