{% include 'header.html' %}
<h2><img width="50px" src="{{ url_for('static', filename='img/iiif.png') }}"/> IIIF Manifest Management - View Manifests in Redis</h2>
<p><a href="/{{APP_PREFIX}}/tasks/iiifManifest">Return to IIIF Manifest Management</a></p>

<div class="row">
	<div class="col-md-12">		
		{% include "PIDiterator.html" %}
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p><a href="http://{{APP_HOST}}/{{iiif_manifest_prefix}}/{{PIDlet.cPID}}">Direct manifest URL for {{PIDlet.cPID}} </a></p>
	<div class="col-md-12">
		<pre>
{{json_return}}
		</pre>
	</div>
</div>



