{% include 'header.html' %}

{% if update_type == 'select' %}
	<p>Freshen Solr?</p>
	<ul>
		<li><a href="/tasks/updateSolr/userObjects">Currently selected Objects</a></li>
		<li><a href="/tasks/updateSolr/timestamp">Recently Modified:</a> Index Fedora Objects since <a href="http://digital.library.wayne.edu/solr4/fedobjs/select?q=id%3ALastFedoraIndex&fl=last_modified&wt=json&indent=true">last full index</a></li>
		<li><a href="/tasks/updateSolr/fullIndex">All:</a> Index ALL Fedora Objects</li>
		<li><a href="/tasks/updateSolr/purgeAndFullIndex">Purge & Index:</a> Purges staging (/fedobjs) core, reindexes all objects <span style="color:orange;">(SLOW)</span></li>
		<li><a href="/tasks/updateSolr/replicateStagingToProduction">Rebuild Live Index:</a> Purge live core (/search), replicate from staging (/fedobjs) <span style="color:green;">(FAST)</span></li>
	</ul>
{% endif %}

{% if update_type %}
	<p>Ran solrIndexer utility with option: <strong>{{update_type}}</strong></p>
{% endif %}

{% include 'footer.html' %}