{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">
		<h3>DPLA OAI-PMH set</h3>
		<p>Using the buttons below, you can include or exclude your selected objects from the DPLAOAI set.  Whatever is included in that set will be sent to REPOX.</p>		
		<form action="/{{APP_PREFIX}}/fireTask/obj_loop/exposeToDPLA_worker" method="POST">
			<button type="submit" class="btn btn-success">Expose to REPOX</button>
		</form>
		<form action="/{{APP_PREFIX}}/fireTask/obj_loop/removeFromDPLA_worker" method="POST">
			<button type="submit" class="btn btn-warning">Remove from REPOX</button>
		</form>
	</div>
</div>

<style type="text/css">
	.gray_out {
		background-color:rgba(120,120,120,.3);		
		padding:20px;
	}
</style>

<script type="text/javascript">		

	// send pred / obj to purge_relationship
	function removeRel(predicate,object){
		$.ajax({
		url: "/fireTask/obj_loop/editRELS_purge_worker",
		type: "POST",
		data: {
			"predicate":predicate,
			"object":"info:fedora/"+object
		}
		}).done(function(response) { 
			window.location.href="/{{APP_PREFIX}}/userJobs";
		});
	}
    

</script>

{% include 'footer.html' %}