<!-- load in-page css before header -->
<link rel="stylesheet" href="{{ url_for('editDSXML.static',filename='UNC_xmleditor/css/stylesheets/reset.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('editDSXML.static',filename='UNC_xmleditor/css/stylesheets/simple.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('editDSXML.static',filename='UNC_xmleditor/css/jquery.xmleditor.css') }}" type="text/css" />
<!-- end pre-load -->

{% include 'header.html' %}

<!-- load dependencies -->
<script src="{{ url_for('editDSXML.static', filename='UNC_xmleditor/lib/ace/src-min/ace.js') }}"></script>
<script src="{{ url_for('editDSXML.static', filename='UNC_xmleditor/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('editDSXML.static', filename='UNC_xmleditor/lib/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('editDSXML.static', filename='UNC_xmleditor/lib/json2.js') }}"></script>
<script src="{{ url_for('editDSXML.static', filename='UNC_xmleditor/lib/cycle.js') }}"></script>
<script src="{{ url_for('editDSXML.static', filename='UNC_xmleditor/lib/jquery.autosize-min.js') }}"></script>
<script src="{{ url_for('editDSXML.static', filename='UNC_xmleditor/lib/vkbeautify.js') }}"></script>
<script src="{{ url_for('editDSXML.static', filename='UNC_xmleditor/jquery.xmleditor.js') }}"></script>
<!-- end load -->


	<div id="object_details">
		<ul>
			<li>Current PID: <strong>{{PID}}</strong></li>			
			<li><a href='/tasks/editDSXML/{{(pid_num - 1)}}'>&lt;-- ({{PIDs[(pid_num-1)]}})</a> / <a href='/tasks/editDSXML/{{(pid_num + 1)}}'>({{PIDs[(pid_num+1)]}}) --&gt;</a></li>
		</ul>
	</div>
	<br>

	<div id="xml_editor">
		<mods xmlns="http://www.loc.gov/mods/v3"> </mods>
	</div>
	
	<script type="text/javascript">		
		var PID = "{{PID}}";
		var DS = "MODS";
		
		$(function() {
			$("#xml_editor").xmlEditor({				
				// from Flask with reverse-proxy (works)
				// schema : "http://digital.library.wayne.edu/fedoraManager2-graham/static/UNC_xmleditor/inc/schema_json/mods.json",
				// attempting static relative pull
				// schema : "{{ url_for('editDSXML.static', filename='UNC_xmleditor/inc/schema_json/mods.json') }}",
				// attempting static full path pull
				// WORKAROUND: treat static directory as if it were relative, do not include the url_for()
				// schema : "static/editDSXML/UNC_xmleditor/inc/schema_json/mods.json",
				// static from web directory (works)
				// schema : "http://digital.library.wayne.edu/dev/graham/XML_editing/UNC_xmleditor/demo/examples/mods.json",
				// hard-coded full URL?
				schema : "http://digital.library.wayne.edu:5001/tasks/static/editDSXML/UNC_xmleditor/inc/schema_json/mods.json",
				documentTitle: "Dodge Brothers Factory Exterior",
				ajaxOptions: {					
					xmlRetrievalPath: "http://digital.library.wayne.edu/fedora/objects/"+PID+"/datastreams/"+DS+"/content",
					xmlUploadPath: "/tasks/editDSXML/update"
				}
			});
		});	
	</script>	
</body>

</html>

