{% include 'header.html' %}
<h1>RELS-EXT editing V2</h1>
<p>The table below shows all RDF relationships <strong>common</strong> to all <a href="/PIDmanage">currently selected PIDs</a>.  To modify a relationship, select a relationship from the dropdown menu or type in your own.  To modify the target object, enter a new PID or value.</p>
<img src="{{ url_for('static',filename='img/SPO_model.png')}}"/>

<table id="rdf_triples_modify">
	<tr class="headers">
		<td><strong>Predicate</strong></td>
		<td><strong>Object</strong></td>
		<td>Actions</td>
	</tr>
	{% for p,o in riquery_filtered %}
		<tr>
			<form action="/editRELSv2/updateRel" method="POST">				
				<td><input type="text" name="{{p}}" value="{{p}}" size=150/></td>
				<td><input type="text" name="{{o}}" value="{{o}}" size=100/></td>
				<td><span style="color:red;">remove</span> / <span style="color:orange;">modify</span></td>
			</form>
		</tr>
	{% endfor %}
</table>

{% include 'footer.html' %}