{% include 'header.html' %}

<script src="{{url_for('static', filename='chartjsv2/Chart.js')}}"></script>

<div class="row">
	<div class="col-md-12">
		<h2>Front-End Postman: View Report</h2>		
	</div>
</div>

<div class="row">
	<div class="col-md-12" style="position:relative; width:1200px; height:800px;">
		<canvas id="response_times"></canvas>
		<script>
		var randomColorGenerator = function () { 
		    return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
		};

		var ctx = document.getElementById("response_times");

		// get data from flask, turn into multiple datasets
		var datasets = [];
		{% for test in executions %}
			var c1 = randomColorGenerator();
			var c2 = randomColorGenerator();
			var dataset = {
		            label: "{{test.name}}",
		            fill: false,
		            lineTension: 0.1,
		            backgroundColor: c1,
		            borderColor: c2,
		            borderCapStyle: 'butt',
		            borderDash: [],
		            borderDashOffset: 0.0,
		            borderJoinStyle: 'miter',
		            pointBorderColor: "rgba(75,192,192,1)",
		            pointBackgroundColor: "#fff",
		            pointBorderWidth: 1,
		            pointHoverRadius: 5,
		            pointHoverBackgroundColor: "rgba(75,192,192,1)",
		            pointHoverBorderColor: "rgba(220,220,220,1)",
		            pointHoverBorderWidth: 2,
		            pointRadius: 1,
		            pointHitRadius: 10,
		            data: {{test.data}}, // using passed data
		            spanGaps: false,
		        }
	        datasets.push(dataset);
		{% endfor %}
		console.log(datasets);
		
		var data = {
		    labels: ["January", "February", "March", "April", "May", "June", "July"],
		    datasets: datasets,
		};
		var options = {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero:true
					}
				}]
			}
		}
		var myLineChart = new Chart(ctx, {
		    type: 'line',
		    data: data,
		    options: options
		});
		</script>
	</div>
</div>

{% include 'footer.html' %}