{% include 'header.html' %}
<h1>BagIt-based Ingest</h1>

<p><strong>Update</strong>: As of 11/2014, we are looking into leveraging the BagIt file packaging format all object import / export, all collection ingests.  BagIt is widely used in the digital collections / preservation arena, and provides additional preservation information before and after deposit in Fedora.  This not only brings us closer in-line with the OAIS model (SIPs, AIPs, DIPs), but also provides a simpler and more standardized mechanism for depositing materials in WSUDOR.</p>

<p>Ingest types:</p>
<ul>
	<li><a href="/tasks/bagIngest/singleBag">Single Bag</a></li>	
</ul>

{% include 'footer.html' %}
