{% include 'header.html' %}
<h1>WSUDOR Object Ingest</h1>


<p>Below is a form used to ingest single, or multiple, BagIt archives as new objects in WSUDOR.  The BagIt standard was chosen for a variety of reasons, not the least of them it being a) a widely used and recognized wrapper for complex digital objects, and b) the ability to validate checksums for BagIt archives, providing an additional level of preservation checking for objects in and out of WSUDOR.</p>

<p>There are two main approaches for ingesting objects: <strong>BagIt directories</strong> or <strong>BagIt archives</strong>.</p>

<p><strong>Archives</strong> are handy for moving BagIt objects around easily, or uploading a small-to-medium batch of objects.  When ingesting an archive, WSUDOR_Manager has to extract the bags and then ingest them, resulting in a momentary doubling of the archive size.  By contrast, ingesting objects by pointing WSUDOR_Manager at a <strong>directory</strong>, containing one or multiple objects, there is no doubling in size, the ingest process will simply work through all the objects.  BUT directories are more difficult to move around on the server.</p>

<p>Depending on the type of objects being ingested, both options are available from this form.</p>

<p>Need an object manifest? Click <a href="/{{APP_PREFIX}}/tasks/createManifest">here</a> to generate one.</p>

<div class="row">
	<div class="col-md-5">
		<form class="form" id="form" role="form" method="POST" action="/{{APP_PREFIX}}/fireTask/custom_loop/bagIngest_factory" enctype="multipart/form-data">
			<div class="form-group">
				<label>Ingest Type (<span style="color:red;">required</span>):</label>
				<div class="radio">
					<label>
					<input type="radio" name="ingest_type" value="single">
						Single Object
					</label>
				</div>
				<div class="radio">
					<label>
					<input type="radio" name="ingest_type" value="multiple">
						Multiple Objects
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Full path of BagIt directory or archive file:</label>
				<input class="form-control" type="text" name="payload_location" placeholder="type or paste">
			</div>			
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input name="overwrite" type="checkbox"> Purge if already exists?
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input name="push_remote" type="checkbox" onclick="$('.push_remote').fadeToggle();"> Push to remote repository?
					</label>
				</div>
			</div>

			<div style="display:none;" class="push_remote">
				<div class="form-group">
					<label class="control-label" for="dest_repo">Destination Repository:</label> 
					<select class="form-control input-sm" id="dest_repo" name="dest_repo">
						{% for repo in REMOTE_REPOSITORIES %}
							<option value="{{repo}}">{{repo}}</option>
						{% endfor %}
					</select> 
				</div>		

				<div class="form-group">
					<label class="control-label" for="export_context">Export Context:</label> 
					<select class="form-control input-sm" id="export_context" name="export_context">
						<option value="archive">archive</option>
						<option value="migrate">migrate</option>
					</select> 
				</div>	

				<div class="form-group">
					<div class="checkbox">
						<label>
							<input name="overwrite" type="checkbox"> Purge and recreate in destination repository if already present?
						</label>
					</div>
				</div>			

				<div class="form-group">
					<div class="checkbox">
						<label>
							<input name="refresh_remote" type="checkbox"> Refresh / Index object in remote repository (deprecated)?
						</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Ingest">
			</div>
		</form>
	</div>
</div>



{% include 'footer.html' %}