{% include 'header.html' %}
<h1>Bag-based Ingest</h1>
<h2>Single Bag Ingest</h2>
<p>This is where you can upload your bag, and perhaps, create it as well.  For development, it will be automatically uploading bags from /tmp/Ouroboros/ingest_bags, and the name of the bag as a get parameter.  Below are two examples:</p>


<div class="row">
	<div class="col-md-6">
		<h4>Temp Examples (copy path and paste below):</h4>
		<ul>
			<li>tree1 (single image) --- "/tmp/Ouroboros/ingest_bags/tree1_bagged"</a></li>
			<li>woodTypes (multiple images) --- "/tmp/Ouroboros/ingest_bags/woodTypes_bagged"</a></li>
			<li>randoCollections (collection object) --- "/tmp/Ouroboros/ingest_bags/randoCollection_bagged"</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h4>Form Submission</h4>
		<form class="form-horizontal" method="POST" action="/tasks/bagIngest/singleBag/fire" enctype="multipart/form-data">
			<label class="control-label">Full path of BagIt directory:</label>
			<input class="form-control" type="text" name="bag_dir" rows=80/>
		</form>
	</div>
</div>

{% include 'footer.html' %}