<html>
  <head>
    {% if title %}
    <title>{{title}} - Flask App</title>
    {% else %}
    <title>Ouroborous Manager</title>
    {% endif %}
  </head>
  <body>
    <div>Flask App: <a href="/index">Home</a></div>
    <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                {% if g.user.is_authenticated()%}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
                {% if not g.user.is_authenticated()%}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
</div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>