{% include 'header.html' %}

<h2>Datastream Management</h2>
<p>Datastreams are the granular level of Fedora objects where the actual images, audio files, documents, and metadata files reside.  Every object in Fedora has a number of datastreams, including, but cetainly not limited to: RDF relationships, MODS, Dublin Core (DC), images, XACML Policy statements shaping access, or even a single page image in a book.</p>

<p>The utilities below are designed to help the creation, management, and deletion of datastreams in bulk.</p>

<ul>		
	<li><a href="/tasks/addDS">Add Datastream</a></li>		
	<li><a href="/tasks/purgeDS">Purge Datastream</a></li>
</ul>	



{% include 'footer.html' %}