<!-- header -->
<html>
<head>
	<title>fedoraManager2</title>
	<!-- jquery CDN -->	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<!-- jquery data tables -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery.dataTables.css')}}"></link>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}"></link>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{{ url_for('static',filename='jquery.dataTables.js')}}"></script>		

</head>

<body>
	<div class="nav-collapse collapse">
		<ul class="nav">
			<li><a href="/FM2Home">FM2 Home</a></li>
			<li><a href="/userPage">User Home</a></li>
				{% if g.user.is_authenticated()%}
			<li><a href="{{ url_for('logout') }}">Logout</a></li>
			<li><a href="{{ url_for('register') }}">Create New Account</a></li>
				{% endif %}
				{% if not g.user.is_authenticated()%}
			<li><a href="{{ url_for('login') }}">Login</a></li>
				{% endif %}
		</ul>
	</div>
	<hr/>