<!-- header -->
<html>
<head>
	<title>fedoraManager2</title>
	<!-- jquery CDN -->	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<!-- jquery data tables -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery.dataTables.css')}}"></link>
	<script type="text/javascript" src="{{ url_for('static',filename='jquery.dataTables.js')}}"></script>		

</head>

<body>
	{% if username %}
		<p><a href="/userPage/{{username}}">{{username}} home</a></p>
	{% endif %}