{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">
		<h1>Job Details: # {{job_num}}</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<a href="/jobRemove/{{job_num}}">Remove Job?</a><br>	
		<a href="/jobRetire/{{job_num}}">Retire Job?</a>
	</div>
</div>

{% if tasks_package %}
	<h2 style="color:green;">Success!</h2>
	<ul>
		{% for task in tasks_package.SUCCESS %}
			<li><a href="/taskDetails/{{task[0]}}/{{job_num}}">{{task[0]}} - {{task[1]}} </a></li>
		{% endfor %}
	</ul>

	<h2 style="color:orange;">Pending...</h2>
	<ul>
		{% for task in tasks_package.PENDING %}
			<li><a href="/taskDetails/{{task[0]}}/{{job_num}}">{{task[0]}} - {{task[1]}}</a></li>
		{% endfor %}
	</ul>

	<h2 style="color:orange;">Retry...</h2>
	<ul>
		{% for task in tasks_package.RETRY %}
			<li><a href="/taskDetails/{{task[0]}}/{{job_num}}">{{task[0]}} - {{task[1]}}</a></li>
		{% endfor %}
	</ul>

	<h2 style="color:red;">Failure.</h2>
	<ul>
		{% for task in tasks_package.FAILURE %}
			<li><a href="/taskDetails/{{task[0]}}/{{job_num}}">{{task[0]}} - {{task[1]}}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>All tasks were pending, nothing to report.</p>
{% endif %}



