{% include 'header.html' %}
{% if status_package.jobInit is defined %}
	<p style="color:green; font-weight:bold;">Job #{{ status_package.job_num }} initiatied.</p>
{% endif %}
<p>Job Status for {{ status_package.job_num }}: <span id="job_status">{{ status_package.job_status }}</span><p>
<p><span id="completed_tasks">{{ taskHand.last_completed_task_num }}</span> / {{ taskHand.estimated_tasks }} tasks from job #{{ status_package.job_num }} completed.</p>
<button onclick="clearTimeout(longPoller);">stop</button>

<!-- script to long-poll update above, proof of concept -->
<script type="text/javascript">
	// function to perform polling, requires wait_time variable	
	function poll(wait_time){
		var longPoller = setTimeout(function(){
			url = "http://162.243.93.130:5001/jobStatus/{{status_package.job_num}}?data=true";
			$.ajax({ 
				url: url, 
				dataType:"json",
				success: function(response){			
					console.log(response);	
					$("#completed_tasks").html(response.completed_tasks);
					$("#job_status").html(response.job_status);

					// clear timeOut and set new time if neccessary					
					wait_time = updateLongPoller(response.job_status,longPoller);

					// the loop
					if (response.job_status != "complete"){
						poll(wait_time);	
					}
					else{
						console.log("finis!");
					}
				}		
			}); // end ajax
		}, wait_time)		
	}
	// function to modify polling time if job is spooling or pending
	function updateLongPoller(status,longPoller){		
		if (status == "spooling" || status == "pending"){
			console.log("setting new timeout");
			clearTimeout(longPoller);
			return 3000;
		}
		else {
			return 500;
		}
	}
	// automatic start
	poll(500);
</script>
{% include 'footer.html' %}