{% include 'header.html' %}
<div class="container">
<form class="form-sigin" role="form" action="" method="post" name="login">
<h2 class="form-signin-heading">Sign In</h2>
    <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" required autofocus>
    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block btn-success">Sign In</button>
</form>
{% include 'footer.html' %}