{% include 'header.html' %}

<h2>Object Management</h2>

<p>The utilities below are designed to help with the creation, management, and deletion of Fedora objects in bulk.</p>

<ul>	
	<li><a href="/objPreview/0">Objects-at-a-Glance</a></li>
	<li><a href="/tasks/batchIngest">Batch Ingest</a></li>
	<li><a href="/tasks/updateSolr/select">Update / Index Solr</a></li>		
	<li><a href="/tasks/objectState">Change Object State</a></li>
	<li><a href="/tasks/createObjectIndex">Generate / Update Object Collection(s) Index</a></li>
	<li><a href="/tasks/purgeObject">Purge Objects</a></li>	
</ul>	


{% include 'footer.html' %}