{% include 'header.html' %}
<!-- User Page -->

<h1>Welcome {{userData.username}}, to Ouroboros</h1>
<ul>		
	<li><h2>Object Selection</h2></li>
	<ul>		
		<li><a href="/PIDSolr">Select Objects: Solr</a></li>
		<li><a href="/PIDmanage">Manage Objects</a></li>	
	</ul>
	<li><h2>Object Related Tasks</h2></li>

	<ul>
		<li><a href="/tasks/editDSXML/0">Edit MODS</a></li>
		<li><a href="/tasks/editRELS">RDF / RELS-EXT modeling</a></li>
		<li><a href="/tasks/addDS">Add Datastream</a></li>
		<li><a href="/tasks/purgeDS">Purge Datastream</a></li>
		<li><a href="/tasks/DCfromMODS">Derive DC from MODS (<span style="color:red;">fires immeditately</span>)</a></li>
		<li><a href="/tasks/objectState">Change Object State</a></li>
		<li><a href="/tasks/purgeObject">Purge Objects</a></li>
		<li><a href="/tasks/checksum" style="color:orange;">Checksum Objects</a></li>
	</ul>	
	<li><h2>Repository Tasks</h2></li>
	<ul>
		<li><a href="/tasks/updateSolr/select">Update / Index Solr</a></li>
		<li><a href="/tasks/batchIngest">Batch Ingest</a></li>		
	</ul>
	<li><h2>Job(s) Status</h2></li>
	<ul>
		<li><a href="/userJobs">Running Jobs</a></li>
		<li><a href="/userAllJobs">All Jobs</a></li>		
	</ul>
</ul>

{% include 'footer.html' %}