{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">
		<h3>OAI Examples</h3>
		<ul>
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=Identify">Identify</a></li>
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=ListSets">ListSets</a></li>			
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=ListIdentifiers&metadataPrefix=oai_dc">ListIdentifiers</a></li>
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=ListRecords&metadataPrefix=oai_dc&set=set:wayne:collectionLincolnLetters">Set Records - Lincoln Letters (set:wayne:collectionLincolnLetters) set</a>
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:digital.library.wayne.edu:wayne:LincolnLettersFHC232434">Single Record - Letter of appointment from Abraham Lincoln for George Harrington</a>
		</ul>
	</div>
</div>

<p style="color:orange;">Consider making this like the shared RELS editing?  With three boxes? Same function for modify / remove?</p>

<div class="row">
	<div class="col-md-12">
		<h3>Established OAI Sets</h3>
		<table class="table table-striped">
			<tr>
				<th>Set Name</th>
				<th>Set OAI identifier</th>
				<th>Affiliated Fedora PID</th>
				<th>Actions</th>
			</tr>
			{% for PID,setName,setSpec in OAI_sets_tuples %}
			<tr>
				<td>{{setName}}</td>
				<td>{{setSpec}}</td>
				<td>{{PID}}</td>
				<td><span style="color:red; cursor:pointer;" onclick="removeOAISet('{{PID}}','{{setSpec}}','{{setName}}'); return false;">remove</span></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Create OAI set</h3>
		<p>Provide <strong>PID</strong>, and desired <strong>setSpec</strong> and <strong>setName</strong></p>
		
		<form class="form" action="/tasks/manageOAI/createSet" method="POST">			
			<div class="form-group">
				{{ form.obj_PID.label }} {{ form.obj_PID }}
			</div>		
			<div class="form-group">
				{{ form.setSpec.label }} {{ form.setSpec }}
			</div>
			<div class="form-group">
				{{ form.setName.label }} {{ form.setName }}
			</div>
			<button type="submit" class="btn btn-default">Create!</button>			
		</form>

	</div>
</div>

<script type="text/javascript">
	// send pred / obj to purge_relationship
	function removeOAISet(obj,setSpec,setName){

		// remove setSpec, chain removing setName, then send to user jobs
		$.ajax({
			url: "/tasks/manageOAI/purgeSet",
			type: "POST",
			data: {
				"obj":obj,
				"setSpec":setSpec,
				"setName":setName
			}
		}).done(function(response) {
			window.location.href="./serverWide";			
		});
	}
</script>

{% include 'footer.html' %}