{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">
		<h1>Manage OAI Server</h1>
		<p>This module helps manage the OAI server for the Wayne State Digital Object Repository.  We currently use PROAI that comes bundled with Fedora 3.6.x, itself a Tomcat Application.  Objects are detected and indexed by PROAI, and "Sets" are created via a small set of RELS-EXT relationships.  Find below links to OAI server and repository wide settings, and  tools for managing OAI relationships for batches of objects.</p>
		<p>OAI-PMH documentation on Digital Collections wiki: <a href="http://digital.library.wayne.edu/wiki/index.php/OAI">http://digital.library.wayne.edu/wiki/index.php/OAI</a><p>
		<ul>
			<li>
				<a href="./manageOAI/serverWide">OAI Server & Repository-wide Management</a>
				<p>Check server status, example OAI queries; Create and edit sets</p>
			</li>
			<li>
				<a href="./manageOAI/objectRelated">Manage OAI Relationships for Objects</a>
				<p>Generate unique OAI identifiers for objects; View, add, and remove set affiliations for batches of objects</p>
			</li>
		</ul>
	</div>
</div>







{% include 'footer.html' %}
