{% include 'header.html' %}

<div class="row">
	<div class="col-md-12">
		<h3>OAI Status and Examples</h3>
		<ul>
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=Identify">Identify</a></li>
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=ListSets">ListSets</a></li>			
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=ListIdentifiers&metadataPrefix=oai_dc">ListIdentifiers</a></li>
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=ListRecords&metadataPrefix=oai_dc&set=set:wayne:collectionLincolnLetters">Set Records - Lincoln Letters (set:wayne:collectionLincolnLetters) set</a>
			<li><a target="_blank" href="http://digital.library.wayne.edu:8080/oaiprovider/?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:digital.library.wayne.edu:wayne:LincolnLettersFHC232434">Single Record - Letter of appointment from Abraham Lincoln for George Harrington</a>
		</ul>
	</div>
</div>


{% include 'footer.html' %}